/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

// overwrite flexible-table.scss: .flexible-table-container-absolute-noheader tr
.properties-column-select .properties-ft-container ,
.properties-column-select .properties-ft-container-noheader  {
	& tbody>tr {
		border-bottom: 0;
	}
	& tbody > tr > td {
		padding: 8px 0;
	}
}

.column-select-table-row {
	font-weight: 500;
	color: $brand-01;
}
.column-select-table-selected-row {
	background-color: $ui-04;
}

.properties-column-select .properties-ft-container-wrapper {
	height: 150px;
}

// selectcolumn control within a wide flyout
.properties-wf-children .properties-column-select-table {
	width: 97%;
}
