/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-primaryTabs {
	.bx--tabs__nav-item {
		margin-left: 1rem;
	}
}

.properties-category-container {
	position: relative;
	&:last-of-type {
		.properties-category-content.show {
			border-bottom: 0;
		}
	}
}

.properties-category-title {
	height: 46px;
	width: 100%;
	font-size: 12px;
	color: $text-02;
	display: flex;
	background-color: $ui-01;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	border: 0; // override for button styling
	outline: none; // override for button styling
	border-bottom: 2px solid $ui-04;
	cursor: pointer;
	&:hover {
		background-color: $ui-03;
	}
	> svg {
		height: 12px;
		width: 12px;
	}
}

.properties-category-content {
	height: 100%;
	padding-left: 10px;
	padding-right: 10px;
	border-bottom: 2px solid $ui-04;
	display: none;
	&.show {
		display: inherit;
	}
}

.properties-sub-category-container {
	padding: 5px 8px;
	.properties-sub-category-title {
		padding: 8px 0;
		font-weight: 500;
		font-size: 14px;
	}
	.properties-sub-panel-content {
		> .properties-control-panel {
			border-left: 5px solid $ui-03;
			padding: 0 8px;
		}
	}
}
.properties-sub-tab-container.vertical {
	margin-bottom: 20px;
	border: 1px solid $ui-04;
	> div {
		display: flex;
	}
	.bx--tabs__nav-item {
		margin-left: 0;
	}
	.properties-subtabs {
		width: 120px;
		border-right: 1px solid $ui-04;
		.bx--tabs__nav {
			display: contents;
		}
		.bx--tabs__nav-item {
			a {
				margin-left: 10px;
			}
		}
		.bx--tabs__nav-item--selected {
			border-bottom: 0;
			border-left: 3px solid $brand-01;
			a {
				margin-left: 7px;
			}
		}
	}
}

.properties-right-flyout {
	.properties-sub-tab-container {
		.bx--tabs__nav-item:not(:first-of-type) {
			margin-left: 1rem;
		}
	}
}

.properties-static-text-container {
	display: flex;
	align-items: center;
	padding: 4px 0;
	.properties-static-text {
		cursor: text;
		font-size: 14px;
		color: $text-01;
		&.info {
			font-style: italic;
			color: $text-02;
		}
	}
	svg {
		width: 17px;
		height: 17px;
		margin-right: 10px;
	}
}

.properties-h-separator {
	margin-top: 15px;
	margin-bottom: 15px;
}

.properties-link-text-container {
	display: flex;
	margin-left: -5px;
	padding: 4px 0;
	svg {
		width: 10px;
		height: 10px;
		margin: 4px 4px 0;
	}
	&.warning {
		svg {
			fill: $support-03;
		}
	}
	&.error {
		svg {
			fill: $support-01;
		}
	}
	.properties-link-text {
		cursor: pointer;
		font-size: 14px;
		line-height: 1.4;
	}
}
