/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

// vertical align row reorder buttons in moveable tables
.properties-mr-button-container {
	width: 16px;
	padding-left: 2px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.table-row-move-button.bx--btn--ghost {
	padding: 0;
	min-height: 24px;
	margin-bottom: 8px;

	> svg {
		height: 16px;
		width: 16px;
		margin-left: 0;
	}
}

// layout tables to allow room for condition icon
.properties-mr-table-container {
	width: 100%;
	display: inline-block;
	> tbody {
		width: 100%;
		display: inline-block;
		padding-right: 4px;
		.properties-mr-table-content {
			width: 100%;
			display: flex;
			border-bottom: 0;
			&.disabled {
				pointer-events: none;
				opacity: 0.5;
			}
			& > td:first-of-type {
				width: calc(100%);
			}
		}
	}
}
