/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-input-control {
	&.hide {
		display: none;
	}
	.bx--form-item { // carbon overrides
		margin-right: 0;
		margin-bottom: 0;
	}

	&.error {
		input {
			box-shadow: 0 2px 0 0 $support-01;
		}
	}
	&.warning {
		input {
			box-shadow: 0 2px 0 0 $support-03;
		}
	}
	input {
		min-width: unset;
		background-color: $field-02;
	}
}

.properties-table-cell-control { // overrides when in a table cell
	.properties-input-control {
		padding-bottom: 5px;
		width: 100%;
		input { //override styling from carbon
			background: unset;
			background-color: unset;
			margin: 0;
			padding: 0;
			height: 1.72rem;
			&:focus {
				border-top: 0;
				border-right: 0;
				border-left: 0;
			}
		}
	}
	input:disabled:hover {
		box-shadow: 0 2px 0 0 $text-02;
	}
}
