/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

@import "carbon-components/scss/globals/scss/vars";

$transition-speed: 0.2s;

/* right flyout panel */

.right-flyout-panel {
	height: 100%;
	float: right;
	right: 0;
	position: relative;
}

/* SVG Canvas styles */

.common-canvas {
	height: 100%;
	width: 100%;
	cursor: default;
	display: flex;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
}

.common-canvas-items-container {
	height: 100%;
	position: relative;
	width: 100%;
}

.common-canvas-right-side-items {
	width: 100%;
	-webkit-transition: $transition-speed;
	transition: $transition-speed;
	display: flex;
}

.common-canvas-drop-div {
	height: calc(100% - 45px);
	width: 100%;
	min-width: inherit;
	position: absolute;
	cursor: default;
	top: 47px;
	overflow: hidden;
}

/* Styles for empty canvas objects */

.empty-canvas {
	position: absolute;
	line-height: 1.5;
	left: 50%;
	top: 48%;
	cursor: default;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.empty-canvas-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.empty-canvas-text {
	display: block;
	color: $text-01;
	opacity: 0.2;
	font-size: 20px;
	text-align: center;
}
