/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

/* right flyout panel */

.right-flyout-panel {
	height: 100%;
	float: right;
	right: 0;
	position: relative;
	box-shadow: 0 44px 8px 0 rgba(0, 0, 0, 0.4);
}

/* SVG Canvas styles */

.common-canvas {
	height: 100%;
	width: 100%;
	cursor: default;
	display: flex;
	position: relative;
	overflow-x: auto;
	overflow-y: hidden;
	// Set the font explicitly to 14px to shrink them across the entire canvas
	font-size: 14px;
}

.common-canvas-items-container {
	height: 100%;
	position: relative;
	width: 100%;
}

.common-canvas-right-side-items {
	width: 100%;
	display: flex;
}

.common-canvas-drop-div {
	height: calc(100% - 40px);
	width: 100%;
	min-width: inherit;
	position: absolute;
	cursor: default;
	top: 40px;
	overflow: hidden;
}

/* Styles for empty canvas objects */

.empty-canvas {
	position: absolute;
	line-height: 1.5;
	left: 50%;
	top: 48%;
	cursor: default;
	transform: translate(-50%, -50%);
	pointer-events: none;
}

.empty-canvas-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.empty-canvas-text {
	display: block;
	color: $text-01;
	opacity: 0.2;
	font-size: 20px;
	text-align: center;
}

/* Styles for drop zone canvas objects */

.dropzone-canvas {
	position: absolute;
	line-height: 1.5;
	width: 100%;
	height: 100%;
	left: 50%;
	top: 50%;
	cursor: default;
	transform: translate(-50%, -50%);
	pointer-events: all;
	background-color: #FBF7FB; /* TODO Replace with carbon variable when we update to latest version. */
	opacity: 0.75;
}

.dropzone-canvas-rect {
	position: absolute;
	top: 30px;
	left: 30px;
	right: 30px;
	bottom: 30px;
	border-color: #CDD1D4; /* TODO Replace with carbon variable when we update to latest version. */
	border-style: dashed;
	border-width: 2px;
}

.dropzone-canvas-image-div {
	position: absolute;
	top: 15%;
	left: 30px;
	right: 30px;
}

.dropzone-canvas-image {
	height: 150px;
	margin-left: auto;
	margin-right: auto;
	display: block;
}

.dropzone-canvas-text {
	position: absolute;
	display: block;
	color: #8897A2; /* TODO Replace with carbon variable when we update to latest version. */
	font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;
	font-weight: bold;
	font-size: 67px;
	text-align: center;
	top: 45%;
	left: 30px;
	right: 30px;
}
