/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

/* Some useful variations on Carbon colors */
$blue: lighten($brand-02, 20%);
$light-blue: lighten($brand-02, 34%);
$dark-blue: lighten($brand-02, 10%);
$very-dark-blue: darken($brand-01, 100%);
$light-grey: lighten($ui-05, 20%);

/* Canvas background color */
$canvas-background-color: $ui-01;

/* Region selection colors */
$region-selector-stroke-color: $ui-05;
$region-selector-fill-color: $ui-03;

/* 'Back to previous flow' control colors */
$back-to-previous-flow-box-color: $brand-01;
$back-to-previous-flow-box-fill-hover: $ui-03;

/* Node colors shared between themes */
$node-selection-color: $brand-02;
$node-label-color: $text-01;
$node-decoration-outline: $ui-05;
$node-halo-color: $brand-02;
$node-super-expand-icon-outline-hover-color: $ui-03;
$node-super-expand-icon-color: $brand-01;
$node-ellipsis-color: $brand-01;
$node-ellipsis-hover-color: $brand-02;
$node-error-color: $support-01; /* Error red */
$node-warning-color: $support-03; /* Warning yellow */

/* Node colors for the Regular (Vertical) theme */
$node-body-stroke: $blue;
$node-body-fill: $light-blue;

$node-port-output-stroke-color: $blue;
$node-port-output-fill-color: $canvas-background-color;

$node-port-output-connected-stroke-color: $blue;
$node-port-output-connected-fill-color: $light-blue;

$node-port-output-hover-stroke: $dark-blue;
$node-port-output-hover-fill: $dark-blue;

$node-port-input-stroke-color: $blue;
$node-port-input-fill-color: $canvas-background-color;

$node-port-input-connected-stroke-color: $blue;
$node-port-input-connected-fill-color: $light-blue;

$node-port-input-arrow-connected-stroke-color: $dark-blue;
$node-port-input-arrow-connected-fill-color: transparent;


/* Node colors for the Austin (Horizontal) theme */
$node-body-stroke-austin: $light-grey;
$node-body-fill-austin: $ui-02;

$node-body-stroke-austin-hover: $ui-03;
$node-body-fill-austin-hover: $ui-03;

$node-port-output-stroke-color-austin: $very-dark-blue;
$node-port-output-fill-color-austin: transparent;

$node-port-output-connected-stroke-color-austin: $very-dark-blue;
$node-port-output-connected-fill-color-austin: $very-dark-blue;

$node-port-output-hover-stroke-austin: $very-dark-blue;
$node-port-output-hover-fill-austin: $very-dark-blue;

$node-port-input-stroke-color-austin: $very-dark-blue;
$node-port-input-fill-color-austin: transparent;

$node-port-input-connected-stroke-color-austin: transparent;
$node-port-input-connected-fill-color-austin: transparent;

$node-port-input-connected-super-binding-stroke-color-austin: $very-dark-blue;
$node-port-input-connected-super-binding-fill-color-austin: $ui-02;

$node-port-input-arrow-connected-stroke-color-austin: $very-dark-blue;
$node-port-input-arrow-connected-fill-color-austin: transparent;

/* Comment colors */
$comment-outline-color: $light-grey;
$comment-fill-color: $ui-01;
$comment-text-color: $text-02;
$comment-halo-color: $brand-02;

/* Comment font */
/* These values are used for both comment text and the comment textarea used for
   text entry. They must be the same for each. */
$comment-text-font-size: 12px;
$comment-text-font-weight: 400;
$comment-text-font-family: "ibm-plex-sans", Helvetica Neue, Arial, sans-serif;

/* New link colors */
$new-halo-link-color: $ui-05;

/* Link colors */
$comment-link-color: $light-grey;
$object-link-color: $ui-05; /* Used for association links */
$data-link-color: $dark-blue;
$link-hightlight-color: $brand-01;

/* Canvas styles */

.d3-svg-canvas-div {
	cursor: default;
	height: 100%;
	background-color: $canvas-background-color;
}

.d3-svg-canvas-div:focus {
	outline: none;
}

/* Pull-out region rectangle used for object selection */

.d3-region-selector {
	stroke: $region-selector-stroke-color;
	fill: $region-selector-fill-color;
	opacity: 0.5;
}

/* Background rectangle for sub-flow display inside supernodes */

.d3-svg-background {
	fill: $canvas-background-color;
}

/* Temporary overlay to display altered pointer cursor styles on dynamic drag operations */

.d3-temp-cursor-overlay {
	fill: transparent;
}

/* Back to Previous Flow control */

.d3-back-to-previous-flow-box {
	stroke: $back-to-previous-flow-box-color;
	fill: $canvas-background-color;
}

.d3-back-to-previous-flow-box[data-pointer-hover="yes"] {
	stroke: $back-to-previous-flow-box-color;
	fill: $back-to-previous-flow-box-fill-hover;
}

.d3-back-to-previous-flow-text {
	font-size: 14px;
	font-weight: 400;
	fill: $back-to-previous-flow-box-color;
}

.d3-back-to-previous-flow-box, .d3-back-to-previous-flow-text {
	cursor: pointer;
}

/* Node and comment styles */

.d3-node-group,
.d3-comment-group {
	cursor: pointer;
}

.d3-node-sizing,
.d3-comment-sizing {
	fill: transparent;
	stroke: transparent;
}

/* Node styles - Regular (Vertical) Theme */

.d3-node-body-outline {
	stroke: $node-body-stroke;
	stroke-width: 2;
	fill: $node-body-fill;
}

.d3-node-body-halo {
	stroke: transparent;
	fill: transparent;
}

.d3-node-body-outline-austin {
	stroke: $node-body-stroke-austin;
	stroke-width: 1;
	fill: $node-body-fill-austin;
}

.d3-node-body-outline-austin[hover="yes"] {
	stroke: $node-body-stroke-austin-hover;
	stroke-width: 1;
	fill: $node-body-fill-austin-hover;
}

.d3-node-selection-highlight {
	stroke-width: 0;
	fill: transparent;
	pointer-events: none;
}

.d3-node-selection-highlight[data-selected="yes"] {
	stroke: $node-selection-color;
	stroke-dasharray: 5, 5;
	stroke-width: 2;
	fill: transparent;
	pointer-events: none;
}

/* Node styles - Austin (Horizontal) Theme */

.d3-node-selection-highlight-austin {
	stroke-width: 0;
	fill: transparent;
}

.d3-node-selection-highlight-austin[data-selected="yes"] {
	stroke: $node-selection-color;
	stroke-dasharray: none; /* Solid line */
	stroke-width: 5;
	fill: transparent;
}

/* Used for debugging node image position. */
.d3-node-image-outline {
	stroke: $node-body-stroke;
	stroke-width: 2;
	fill: $node-body-fill;
}

.d3-node-label {
	font-size: 13px;
	fill: $node-label-color;
	text-anchor: middle;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.d3-node-label-austin {
	font-size: 12px;
	font-weight: 600;
	fill: $node-label-color;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.d3-supernode-label {
	font-size: 13px;
	fill: $node-label-color;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

/* Node styles - Error indication */

.d3-node-error-label {
	fill: $node-error-color;
}

.d3-node-warning-label {
	fill: $node-warning-color;
}

/* Used for debugging label position */
.d3-label-outline {
	fill: $node-body-fill;
	stroke: $node-body-stroke;
	stroke-width: 1;
}

.d3-node-dec-outline,
.d3-link-dec-outline {
	fill: transparent;
	stroke: $node-decoration-outline;
	stroke-width: 1;
}

.d3-node-dec-label,
.d3-link-dec-label {
	font-size: 13px;
	fill: $node-label-color;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.d3-node-halo {
	fill: none;
	stroke: transparent;
	stroke-width: 8;
}

.d3-node-halo:hover {
	fill: none;
	stroke: $node-halo-color;
	stroke-width: 8;
}

.d3-node-super-expand-icon-outline {
	fill: transparent;
}

.d3-node-super-expand-icon-outline[data-pointer-hover="yes"] {
	fill: $node-super-expand-icon-outline-hover-color;
}

.d3-node-super-expand-icon {
	fill: $node-super-expand-icon-color;
}

.d3-node-ellipsis-background {
	fill: transparent;
	stroke-width: 0;
	cursor: context-menu;
}

.d3-node-ellipsis {
	fill: $node-ellipsis-color;
	stroke-width: 0;
	cursor: context-menu;
}

.d3-node-ellipsis:hover,
.d3-node-ellipsis-background:hover~.d3-node-ellipsis {
	fill: $node-ellipsis-hover-color;
	stroke-width: 0;
}

/* Error indicator */
.d3-error-circle {
	stroke: $canvas-background-color;
	stroke-width: 2;
	fill: $node-error-color;
}

/* Warning indicator */
.d3-warning-circle {
	stroke: $canvas-background-color;
	stroke-width: 2;
	fill: $node-warning-color;
}

/* Invisible Error indicator */
.d3-error-circle-off {
	display: none;
}

/* Styles for ports */

.d3-node-port-output {
	stroke: $node-port-output-stroke-color;
	fill: $node-port-output-fill-color;
	stroke-width: 2;
}

.d3-node-port-output[connected="yes"] {
	stroke: $node-port-output-connected-stroke-color;
	fill: $node-port-output-connected-fill-color;
	stroke-width: 2;
}

.d3-node-port-output:hover {
	stroke: $node-port-output-hover-stroke;
	fill: $node-port-output-hover-fill;
}

.d3-node-port-input {
	stroke: $node-port-input-stroke-color;
	fill: $node-port-input-fill-color;
	stroke-width: 2;
}

.d3-node-port-input[connected="yes"] {
	stroke: $node-port-input-connected-stroke-color;
	fill: $node-port-input-connected-fill-color;
	stroke-width: 2;
}

.d3-node-port-input-arrow {
	stroke: transparent;
	fill: transparent;
}

.d3-node-port-input-arrow[connected="yes"] {
	stroke: $node-port-input-arrow-connected-stroke-color;
	fill: $node-port-input-arrow-connected-fill-color;
}

/* Styles for Austin theme */

.d3-node-port-output-austin {
	stroke: $node-port-output-stroke-color-austin;
	fill: $node-port-output-fill-color-austin;
	stroke-width: 1.25;
}

.d3-node-port-output-austin[connected="yes"] {
	stroke: $node-port-output-connected-stroke-color-austin;
	fill: $node-port-output-connected-fill-color-austin;
	stroke-width: 2;
}

.d3-node-port-output-austin:hover {
	stroke: $node-port-output-hover-stroke-austin;
	fill: $node-port-output-hover-fill-austin;
}

.d3-node-port-input-austin {
	stroke: $node-port-input-stroke-color-austin;
	fill: $node-port-input-fill-color-austin;
	stroke-width: 1.25;
}

.d3-node-port-input-austin[connected="yes"] {
	stroke: $node-port-input-connected-stroke-color-austin;
	fill: $node-port-input-connected-fill-color-austin;
	stroke-width: 1;
}

.d3-node-port-input-austin[connected="yes"][isSupernodeBinding="yes"] {
	stroke: $node-port-input-connected-super-binding-stroke-color-austin;
	fill: $node-port-input-connected-super-binding-fill-color-austin;
	stroke-width: 1;
}

.d3-node-port-input-arrow-austin {
	stroke: transparent;
	fill: transparent;
}

.d3-node-port-input-arrow-austin[connected="yes"] {
	stroke: $node-port-input-arrow-connected-stroke-color-austin;
	stroke-width: 1;
	fill: $node-port-input-arrow-connected-fill-color-austin;
}

/* New connection dynamic line styles. */

.d3-new-connection-line[linkType="nodeLink"] {
	stroke: $data-link-color;
	stroke-width: 2;
	stroke-dasharray: 10 10;
	fill: none;
}

.d3-new-connection-start[linkType="nodeLink"] {
	stroke: $data-link-color;
	fill: $canvas-background-color;
}

.d3-new-connection-blob[linkType="nodeLink"] {
	stroke: $data-link-color;
	fill: $data-link-color;
}

/* New connection dynamic line styles for comment links */

.d3-new-connection-line[linkType="commentLink"] {
	stroke: $comment-link-color;
	stroke-width: 1;
	stroke-dasharray: 10 10;
	fill: none;
}

.d3-new-connection-blob[linkType="commentLink"] {
	stroke: $comment-link-color;
	stroke-width: 4;
	fill: $comment-link-color;
}

.d3-new-connection-arrow[linkType="commentLink"] {
	stroke: $comment-link-color;
	stroke-width: 2;
	fill: $comment-link-color;
}

.d3-comment-port-circle {
	stroke: $comment-link-color;
	stroke-width: 2;
	fill: $comment-link-color;
}

/* Halo - Temporary connector line pulled out from halo */

.d3-node-connector {
	stroke: $new-halo-link-color;
	stroke-dasharray: 2.2;
}

/* Comment styles */

/* Style for comment background rectangle */
.d3-comment-rect {
	fill: $comment-fill-color;
	stroke: $comment-outline-color;
	stroke-width: 1;

	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly. */
	user-select: none;
}

.d3-comment-selection-highlight {
	stroke-width: 0;
	fill: transparent;
	pointer-events: none;
}

.d3-comment-selection-highlight[data-selected="yes"] {
	stroke: $node-selection-color;
	stroke-dasharray: 5 5;
	stroke-width: 2;
	fill: transparent;
	pointer-events: none;
}

.d3-comment-selection-highlight-austin {
	stroke-width: 0;
	fill: transparent;
	pointer-events: none;
}

.d3-comment-selection-highlight-austin[data-selected="yes"] {
	stroke: $node-selection-color;
	stroke-dasharray: none; /* Solid line */
	stroke-width: 3;
	fill: transparent;
	pointer-events: none;
}

.d3-comment-text {
	fill: $comment-text-color;  /* Must be the same as color in .d3-comment-display */
}

/* Style for comment text when displayed as SVG text */
.d3-comment-text-tspan {
	font-size: $comment-text-font-size;
	font-weight: $comment-text-font-weight;
	font-family: $comment-text-font-family;
	position: absolute;
	pointer-events: none;   /* This prevents strange problems with div focus that occur when the text is clicked. */
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

/* Style for comment text entry when shown in an HTML textarea control. */
.d3-comment-entry {
	color: $comment-text-color;
	font-size: $comment-text-font-size;
	font-weight: $comment-text-font-weight;
	font-family: $comment-text-font-family;
	position: absolute;
	border: 0;
	resize: none;
	padding-left: 10px;  /* This needs to be the same as the commentWidthPadding in layout-dimensions.js */
	padding-right: 10px; /* This needs to be the same as the commentWidthPadding  in layout-dimensions.js */
	padding-top: 8px;    /* This needs to be the same as the commentHeightPadding in layout-dimensions.js */
	padding-bottom: 8px; /* This needs to be the same as the commentHeightPadding  in layout-dimensions.js */
	overflow: hidden;
	line-height: 105%;  /* Set so that entry text is displayed the same as display text */
	white-space: pre-line;
	word-wrap: normal;
	word-break: break-word;
	background-color: transparent;
}

.d3-comment-halo {
	fill: none;
	stroke: transparent;
	stroke-width: 8;
}

.d3-comment-halo:hover {
	fill: none;
	stroke: $comment-halo-color;
	stroke-width: 8;
}

/* Link styles */

.d3-comment-link {
	stroke: $comment-link-color;
	fill: none;
	stroke-width: 1;
	stroke-dasharray: 7.3;
}

.d3-comment-link-arrow-head {
	stroke: $comment-link-color;
	stroke-width: 2;
	fill: transparent;
	stroke-dasharray: 0;
}

.d3-object-link {
	stroke: $object-link-color;
	stroke-width: 2;
	fill: none;
	stroke-dasharray: 5.5;
}

.d3-data-link {
	stroke: $data-link-color;
	fill: none;
	stroke-width: 2;
}

.d3-data-link-arrow-head {
	stroke: $data-link-color;
	stroke-width: 2;
	fill: transparent;
	stroke-dasharray: 0;
}

.d3-link-selection-area {
	fill: none;
	stroke: transparent;
	stroke-width: 6;
}

/* When pointer hovers over the link's selectable area this style will be applied. */
/* The ~ styles mean that any d3-selectable-link sibling which comes after the
/* selectable area in the DOM will be styled this way. We use the g to make these
/* style selectors more specific (to CSS) than any styles applied from the canvas JSON. */
g .d3-comment-link:hover,
g .d3-data-link:hover,
g .d3-selectable-link:hover,
g .d3-selectable-link:hover ~ .d3-selectable-link,      /* Colors arrow head when hovering over line. */
g .d3-link-selection-area:hover ~ .d3-selectable-link { /* Colors arrow head when hovering over line selection area. */
	stroke: $link-hightlight-color;
}
