/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

/* This styles are used in the autoAICanvas.json canvas file. */

.ai-join {
	.ai-join-keys-decoration-outline {
		stroke: transparent;
		fill: transparent;
		cursor: pointer;
	}

	.ai-join-keys-decoration-text-selected {
		stroke: #FFFFFF;
		fill: #FFFFFF;
		font-size: 10px;
		font-weight: 100;
		cursor: pointer;
		pointer-events: none;
	}

	.ai-join-keys-decoration-text-unselected {
		stroke: #000000;
		fill: #000000;
		font-size: 10px;
		font-weight: 100;
		cursor: pointer;
		pointer-events: none;
	}

	.ai-col-label {
		fill: #A5A5A7;
		stroke: #A5A5A7;
		font-size: 11px;
		font-weight: 100;
	}

	/* Makes the port decorations (blue with the white cross) be hidden by default */
	.d3-node-group {
		.ai-node-port {
			opacity: 0;

			/* Makes the port decorations (blue with the white cross) images appear on hover */
			&:hover {
				opacity: 100;
			}
		}

		/* Makes the port decorations (blue with the white cross) images appear on hover */
		&:hover .ai-node-port {
			opacity: 100;
		}
	}
}
