/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-wf-modal .properties-fp-table .properties-ft-container-wrapper {
	height: 100%;
}

// this can be removed after bootstrap.css is gone
.properties-fp-table .properties-ft-container-wrapper .properties-fp-data-rows td {
	border-top: 0;
	vertical-align: middle;
}

.properties-wf-modal .properties-fp-table .properties-ft-container-absolute {
	height: 450px;
}

.properties-fp-data {
	height: 100%;
	display: flex;
	align-items: center;
}

.properties-fp-data-type-icon {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 5px;
}

.properties-fp-filter-list {
	list-style-type: none;
	float: right;
	margin-top: 6px;
	margin-bottom: 0;
	width: 50%;
	height: 22px;
}

.properties-fp-filter-list-title.properties-fp-filter-list-li {
	width: auto;
	height: 32px;
	margin-left: 10px;
	cursor: default;
}

.properties-fp-filter-list-li {
	float: left;
	width: 14px;
	margin-right: 2px;
	padding: 2px;
	-webkit-appearance: none;
	border: 0;
	background-color: inherit;
	cursor: pointer;
}

.properties-fp-filter-list-li.properties-fp-filter:hover {
	background-color: $ui-03;
}

.properties-fp-back-button.bx--btn.bx--btn--sm.bx--btn--secondary {
	border: 0;
}
.properties-fp-back-button {
	height: 32px;
	width: 32px;
	border: 0;
	padding: 0;
	padding-top: 2px;
	padding-left: 4px;
}

.properties-fp-back-button svg.icon {
	overflow: visible;
}

.properties-fp-back-button > svg:not(:root) {
	margin-right: 5px;
	transform: translateY(4px);
}
.properties-fp-top-row {
	button.bx--btn > svg:not(:root) {
		top: -5px;
		left: -5px;
	}
}

.properties-fp-table {
	width: 100%;

	// Set a height for the thead so the body height can be calculated accordingly
	thead {
		height: 35px;
	}
}
.properties-fp-top-row {
	margin-bottom: 6px;
	display: flex;
	justify-content: space-between;
}

.properties-wf-modal .properties-fp-top-row {
	width: 50%;
	float: right;
}

.properties-fp-reset-button-container {
	border: 0;
	float: right;
	height: 32px;
	width: 90px;
	padding-right: 0;
	line-height: 0.5;
	cursor: pointer;
	&:hover:not([disabled]) {
		background-color: $brand-01;
	}
	&:hover:not([disabled]) .properties-fp-reset-button {
		&.icon > svg > path {
			fill: $inverse-01;
		}
		&.label {
			text-decoration-color: $ui-01;
			color: $ui-01;
		}
	}
}
.properties-fp-reset-button {
	&.label {
		float: left;
		padding-top: 5px;
		padding-right: 5px;
		text-decoration: underline;
		font-size: 14px;
		color: $brand-01;
	}
	&.icon {
		float: left;
	}
	&.icon > svg {
		height: 18px;
		width: 18px;
	}
}
