/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/


.properties-numberfield {

	.bx--form-item { // carbon overrides
		margin-right: 0;
		margin-bottom: 0;
	}
	.bx--number[data-invalid] { // carbon override to not display error
		.bx--form-requirement { // carbon override to not display error
			display: none;
		}
	}
	.bx--label {
		display: none;
	}
	&.error {
		input[type="number"], input[type="number"]:focus {
			box-shadow: 0 2px 0 0 $support-01;
		}
	}
	&.warning {
		input[type="number"], input[type="number"]:focus {
			box-shadow: 0 2px 0 0 $support-03;
		}
	}
}

.properties-table-cell-control { // overrides when in a table cell
	.properties-numberfield {
		.bx--number__controls {
			bottom: unset;
		}
		input[type="number"] { //override styling from carbon
			background-color: unset;
			padding-left: 0;
			height: 1.5rem;
		}
		.bx--number input[type="number"] {
			min-width: 0;
		}
	}
}
