/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-radioset {
	&.hide {
		display: none;
	}
	.bx--form-item {
		margin-bottom: 5px;
	}
}

.properties-radio-button-group {
	display: block;
	&.horizontal {
		display: inline-flex;
		flex-wrap: wrap;
	}
	.properties-radioset-panel {
		margin-bottom: 5px;
		&:last-of-type {
			margin-bottom: 0; // don't want margin when last radio button in group
		}
	}
	&.error {
		padding: 3px;
		border-bottom: 2px solid $support-01;
	}
	&.warning {
		padding: 3px;
		border-bottom: 2px solid $support-03;
	}
}
