/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

@import "./properties-main-widths.scss";

.properties-right-flyout {
	// Set the font explicitly to 14px to shrink them across the entire properties editor
	font-size: 14px;
	width: 0;
	height: 100%;
	background-color: $ui-01;
	overflow: hidden;
	border-left: 1px solid $ui-03;
	outline: none;
	&.properties-small {
		width: $common-properties-small-flyout-width;
	}
	&.properties-medium {
		width: $common-properties-medium-flyout-width;
	}
	&.properties-large {
		width: $common-properties-large-flyout-width;
	}
	&:hover {
		.properties-btn-resize {
			visibility: visible;
			opacity: 1;
		}
	}
	.properties-btn-resize {
		transition: visibility 0.5s, opacity 0.5s;
		opacity: 0;
		visibility: hidden;
		position: absolute;
		top: 50%;
		left: -13px;
		z-index: 1; // needs to sit on top of common-properties div
		min-height: 20px;
		border-radius: 5px;
		background-color: $ui-01;
		border: 1px $ui-03 solid;
		padding: 2px;
		&:hover {
			background-color: $ui-03;
		}
		svg {
			width: 20px;
			height: 20px;
		}
	}
}



.properties-right-flyout > .properties-custom-container {
	height: calc(100% - 90px);
	overflow-y: auto;
}
