/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-control-item {
	padding: 5px 0;
	&.hide {
		display: none;
	}
	&[disabled] { //only disabled label and description.  Control will disabled itself
		.properties-label-container, .properties-control-description {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.properties-label-container {
	display: flex;
	align-items: center;
	padding-bottom: 5px;
	font-weight: 700;
	.properties-number-generator {
		margin-left: 3px;
		padding: 2px;
		min-height: 30px;
		span {
			text-decoration: underline;
		}
	}
}

.properties-label-container, .properties-summary-link-container {
	.tooltip-container {
		display: flex;
		width: 16px;
		height: 16px;
		margin-left: 3px;
		svg {
			width: 16px;
			height: 16px;
			margin: 0 7px 0 3px;
		}
	}
}

.properties-control-description {
	font-size: 12px;
}

.properties-required-indicator {
	color: $text-01;
	font-weight: 700;
}
