/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-control-item {
	padding: 5px 0;
	&.hide {
		display: none;
	}
	&[disabled] { //only disabled label and description.  Control will disabled itself
		.properties-label-container, .properties-control-description {
			opacity: 0.5;
			pointer-events: none;
		}
	}
}

.properties-label-container {
	display: flex;
	align-items: center;
	padding-bottom: 5px;
	font-weight: 700;
	.properties-number-generator {
		margin-left: 3px;
	}
	svg {
		width: 12px;
		height: 12px;
		margin: 0 7px 0 3px;
		&.info {
			fill: $brand-01;
		}
	}
	// fixes alignment issues on Firefox.  Override default
	.properties-icon-button {
		margin-top: -5px;
	}
}

.properties-control-description {
	font-size: 12px;
}

.properties-required-indicator {
	color: $brand-01;
	font-weight: 700;
}
