/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

@CHARSET "ISO-8859-1";

@font-face {
    font-family: IBMHLVMedium;
    src: url(~ap-components-react/dist/fonts/medium/helvetica-neue-medium.woff);
}

@font-face {
    font-family: IBMHLVRoman;
    src: url(~ap-components-react/dist/fonts/roman/helvetica-neue-roman.woff);
}

@font-face {
    font-family: IBMHLVBold;
    src: url(~ap-components-react/dist/fonts/bold/helvetica-neue-bold.woff);
}
@font-face {
    font-family: IBMHLVlight;
    src: url(~ap-components-react/dist/fonts/light/helvetica-neue-light.woff);
}

@font-face {
    font-family: IBMHLVRoman;
    src: url(~ap-components-react/dist/fonts/roman/helvetica-neue-roman.woff);
}

/* Property editing */
.properties-editing {
    position: absolute;
    border: thin solid black;
    overflow: scroll;
}

.properties-title {

}

.properties-body {

}

.properties-buttons {

}

.control-panel {
  display: block;
  padding: 8px 8px 8px 8px;
}

.table-editor {
  display: inline;
}


/* Basic control styles */

.control {
  display: inline;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  padding:20px
}

/* Override for block controls */
.control-radio-block{
  display: block;
  margin-bottom: 2px;
  padding:5px;
}
/* Hide default browser input */

input[type=radio]{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio {
  padding-bottom: 10px;
}

/* Custom control */

.control__indicator{
  content: '' !important;
  position: absolute !important;
  top: 20px !important;
  left: 0 !important;
  height: 16px !important;
  width: 16px !important;
  /*background: grey !important;*/
  border-radius: 50% !important;
  transition: all .2s ease-in-out !important;
  border: 1px solid #1d3649 !important;
}
/* Override for block controls */
.control__indicator-block{
  top: 7px !important;
}

/* Hover and focus */

.control__indicator:hover{
  background:#a6266e;
  box-shadow: 0 0 0 0 rgba(124,199,255,.75),inset 0 0 0 3px #fff;
  /*transform: scale(0);*/
}

.control input:checked ~ .control__indicator{
  background:#a6266e !important;
  height:17px !important;
  width: 17px !important;
  border: none !important;
}

.control__indicator:disabled{
  border: 1px solid #aeaeae;
}

.well{
  background-color:#f9f9fb;
}

/* Added for validations */
.editor_control_area .haslabel {
  margin: 0 0 25px 0;
}

.validation-error-message {
  color: #1D3649;
}

.text__counter {
  color: #777677
}

.validation-error-message-color-error,
.validation-error-message-color-warning,
.validation-error-message-color-info {
	font-size: .875rem;
}

.form__validation.validation-error-message-type-number,
.form__validation.validation-error-message-type-table,
p.form__validation.validation-error-message-color-warning.validation-error-message-type-selection {
	margin-top: 5px;
	width: 93%;
}

.form__validation.validation-error-message-type-textfield,
.form__validation.validation-error-message-type-textfieldbox {
	margin-top: -20px;
	width: 90%;
}

.form__validation.validation-error-message-type-dropdown {
	margin-top: 3px;
	width: 89%;
}

.validation-error-message-icon {
	width: 20px;
	height: 20px;
  margin-right: 0.3em;
	float: left;
}

.validation-error-message-icon-table,
.validation-error-message-icon-number {
  margin-top: 3px;
}

.form__validation.validation-error-message-type-selection {
	margin-top: 2px;
	width: 93%;
}

.validation-error-message-icon-textfield,
.validation-error-message-icon-textfieldbox {
  margin-top: -22px;
	height: 23px;
}

.validation-warning-message-icon-textfieldbox {
	margin-top: -24px;
	height: 25px;
}

.modal__container .modal__buttons {
  bottom: initial;
}

/* Override bootstrap css */
.container {
	width: 100%;
	height: 100%;
}

/* Field Picker */

#field-picker-back-button {
  height: 32px;
  width: 32px;
  border: none;
  padding: 0;
  padding-left: 9px;
  padding-top: 2px;
}

#field-picker-filter-list{
  list-style-type: none;
  float: right;
  margin-top: 10px;
  margin-bottom: 0px;
  width:40%;
  height: 22px;
}

#field-picker-back-button svg.icon {
  overflow: visible;
}

.reactable-th-checkbox {
  padding-left: 15px;
}

#filter-list-title {
  width: 40px;
  height: 32px;
}

.filter-list-li {
  float: left;
  display: block;
  width:14px;
  fill:#A91560;
  margin-right: 2px;
  padding: 2px;
}

.filter-list-li-icon:hover {
  background-color:#EAEAEA;
}

#field-picker-table {
  width: 100%;
}

#field-picker-table #table-header {
  border: 1px solid #d8d8d8;
  border-bottom: none;
}

#add-fields-button {
  border: none;
  float: right;
  padding-top: 2px;
  padding-right: 0px;
  padding-left: 10px;
  margin-right: 0px;
  text-decoration: underline;
}

#reset-fields-button {
  border: none;
  float: right;
  height: 32px;
  width: 90px;
  padding-right: 0px;
}

#reset-fields-button-label {
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  text-decoration: underline;
}

#reset-fields-button-icon {
  float: left;
  width: 20px;
  fill: #A91560;
  margin-top: -2px;
}

#reset-fields-button:hover #reset-fields-button-icon{
  fill: #FFFFFF;
}

[id^=remove-fields-button] {
  float: right;
  border: none !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  padding-top: 4px !important;
  height: 30.75px;
  width: 33px;
  fill: #A91560;
  padding-left: 5px !important;
  padding-right: 5px !important;
  opacity: 0.4;
}
[id^=remove-fields-button-enabled] {
  opacity: 1;
}

[id^=remove-fields-button]:hover[disabled=false] {
  background-color: #A91560;
  fill: #FFFFFF;
}

[id^=remove-fields-button]:hover[disabled=true] {
  background-color: transparent;
  cursor: default;
}

#removeFieldTip, #addFieldTip {
  position: fixed;
}

.filter-icons-tooltips {
  position: fixed !important;
}

.field-picker-data-type-icon {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
  fill: #A91560;
}


/* Column Structure Allocator */
.table-selected-row {
  background-color: #e0e0e0 !important;
}

#table-row-move-button-container {
  width: 16px !important;
  margin-top: 0px;
  margin-left: 12px;
  top: 50%;
  padding: 0;
}

.table-row-move-button .table-row-move-button-disable{
  width: 10px !important;
  border-bottom: 2px solid #f9f9fb;
  border-right: none;
  transform: rotate(0deg);
}

.table-row-move-button:hover{
  border-bottom: 2px solid #a6266e;
  border-right: none;
}

.toggletext_control {
  color: #a6266e;
  font-weight: bold;
}

.toggletext_icon {
  padding-right: 2px;
  cursor: pointer;
}

.toggletext_text {
  cursor: pointer;
}

.sort_icon-column {
  padding-left: 2px;
}

/* Flexible Table */
/*.flexible-table-toolbar{
  margin-bottom: 5px;
}*/

#flexible-table-container {
  height: 180px;
  width: 100%;
  overflow: scroll;
  position: relative;
  background-color: #FFFFFF;
  border: 1px solid #d8d8d8;
  padding: 0 15px 0 15px;
  color: #000000;
}

th div div label, td div div label {
  padding-bottom: 10px;
}

.reactable-header-sortable:focus {
  outline: none;
}

#flexible-table-container>table>thead>tr>th {
  padding: 5px;
}

#flexible-table-container>table>tbody>.field-picker-data-rows>td {
  padding: 5px 0 5px 0;
}

#flexible-table-container>table>tbody>tr>td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.field-picker-top-row {
  margin-bottom: 6px;
}

#flexible-table-search-bar {
  height: 32px;
  width: 45%;
  float: left;
  margin: 5px 0 2px 5px;
}

#flexible-table-search {
  width: 100%;
  float: left;
  padding-bottom: 2px;
  border-bottom-width: 1px;
}

#flexible-table-search-icon {
  width: 20px;
  height: 20px;
  float: left;
  fill: #A91560;
  margin-top: 4px;
}

#flexible-table-search:focus {
  border-bottom: 2px solid #777677;
}

.flexible-table-header {
  width: 100%;
  background-color: #f9f9fb;
  padding: 0 0px 0 0px;
}

.flexible-table-header-container {
  width: 100%;
  border: 1px solid #d8d8d8;
  border-bottom: none;
  background-color: #f9f9fb;
  padding: 0 15px 0 15px;
}

.table>tbody>tr:nth-child(1)>td {
  border-top: none;
}

tr.reactable-column-header {
  height: 30px;
}

#table-header {
  width: 100%;
}

/* end Flexible table */

.tabs--vertical .tabs__list--vertical {
    display: block;
    background: white !important;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0 !important;
    min-height: 250px;
}

.tabs__tabpanel[id$=build-options-panel] {
  padding-top: 20px;
}

#add-fields-button > span > svg:not(:root) {
  overflow: visible;
}

.column-structure-allocator-control-row-selected .public_fixedDataTableCell_main {
  background-color: #e0e0e0 !important;
}

.toggletext_image {
  padding-right: 3px;
}

.column-allocator {
  min-height: 100px;
}

.error-border {
  border: .25px solid #ff0000 !important;
}

.inline-textbox {
  border: none;
  border-bottom: 2px solid #aeaeae;
}

.column-structure-allocator-control-row-selected .inline-textbox {
  background-color: #e0e0e0;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-color: #f9f9fb !important;
}

#structure-table {
    width: 100% !important;
}

.structure-table-first-column {
  width: 100%;
}

.structure-table-second-column {
  width: 16px !important;
}

.required-control-indicator {
  color: #a6266e;
  font-weight: bold;
}

.checkbox-panel label {
  margin-bottom: 0 !important;
}

.label-container {
  float: left;
}

.control-description {
  font-size: 12px;
}

tbody.reactable-data {
  border-bottom: 1px solid #d8d8d8;
}

.number--dark, .number--light {
  padding: .05em 25px .15em 0 !important;
}

.number--dark+.number__close, .number--light+.number__close {
  top: 0px !important;
}

.editor_control_area {
  margin-bottom: 5px;
}

.checkbox-panel {
  padding-top: 18px;
}

.checkbox-controls {
  padding-left: 5px;
}

.number-generator {
  color: #aeaeae;
  text-decoration: underline;
}
