/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#common-properties-right-flyout-panel {
	height: 100%;
}

#custom-container-right-flyout-panel {
	height: calc(100% - 90px);
	overflow-y: auto;
}

.modal__buttons.right-flyout-panel {
	height: 45px;
  width: 100%;
  margin: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #FFFFFF;
}

#node-title-container-right-flyout-panel {
 	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-left: 20px;
	padding-right: 20px;
	background: #FFFFFF;
}

#node-title-right-flyout-panel {
	font-size: 24px;
	height: 45px;
  overflow-y: auto;
	display: flex;
  align-items: center;
}

#node-title-editor-right-flyout-panel {
	margin: 0px;
	padding: 0px;
	border-bottom: none;
}

#title-edit-icon-right-flyout-panel {
	height: 24px;
	width: 24px;
	float: right;
}

#title-edit-icon-right-flyout-panel:hover {
	background-color: #EFEFEF;
}

.well.right-flyout-panel {
	height: 100%;
	background-color:#FFFFFF;
	border: none;
	padding: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-top: 2px solid #E0E0E0;
	position: relative;
	overflow-y: auto;
}

#category-parent-container-right-flyout-panel {
}

.category-title-container-right-flyout-panel {
	position: relative;
}

.category-title-right-flyout-panel {
	height: 46px;
	width: 100%;
	font-size: 12px;
	color: #666566;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #E0E0E0;
}

.category-title-right-flyout-panel:hover {
	background-color: #D8D8D8;
	color: #666566;
}

.category-icon-right-flyout-panel {
	height: 12px;
	width: 12px;
}

.panel-container-closed.right-flyout-panel {
	height: 0px;
}

.panel-container-closed.right-flyout-panel > * {
	display: none;
}

.panel-container-open.right-flyout-panel {
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: auto;
	border-bottom: 2px solid #E0E0E0;
}

.column-source.form-control.right-flyout-panel,
.column-allocator.single.right-flyout-panel.form-control,
.column-allocator.multi.right-flyout-panel.form-control {
	background-color: #f9f9fb;
}

.CodeMirror {
  height: 100px !important;
}

#sub-category-parent-container-right-flyout-panel {
	padding: 5px 0px;
}

.sub-category-title-right-flyout-panel {
	padding: 8px 0px;
	font-weight: 500;
  font-size: 14px;
}

.sub-panel-container-right-flyout-panel > .control-panel {
	border-left: 5px solid #E0E0E0;
	padding: 0px 8px;
}


/* Override css for wider content */
#field-allocator-button-container-right-flyout-panel {
	margin-left: 40%;
	width: inherit;
	top: 0px !important;
	/*height: 20px;*/
}

.field-allocator-button.right-flyout-panel {
	width: 12px !important;
	border-right: 2px solid #f9f9fb;
	transform: rotate(90deg);
}

.field-allocator-button.right-flyout-panel:hover{
	border-bottom: none !important;
	border-right: 2px solid #a6266e;
}

.column-allocation-panel-row.right-flyout-panel {
	display: grid;
}

.row.right-flyout-panel {

}

.column-allocation-panel-column.right-flyout-panel.col-md-3,
.column-allocation-panel-column.right-flyout-panel.col-md-9,
.column-allocation-panel-column.right-flyout-panel.col-md-11 {
	width: 100%;
}
