/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#common-properties-right-flyout-panel {
	width: 0;
	height: 100%;
	background-color: #FFFFFF;
}

#common-properties-right-flyout-panel > .custom-container {
	height: calc(100% - 90px);
	overflow-y: auto;
}

#common-properties-right-flyout-panel .modal__buttons {
	height: 45px;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #FFFFFF;
}

#common-properties-right-flyout-panel .well {
	height: 100%;
	background-color: #FFFFFF;
	border: 0;
	padding: 0;
	margin-bottom: 0;
	border-radius: 0;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-top: 2px solid #DFE3E6;
	position: relative;
	overflow-y: auto;
	overflow-x: hidden;
}

.category-title-container-right-flyout-panel {
	position: relative;
}

.category-title-right-flyout-panel {
	height: 46px;
	width: 100%;
	font-size: 12px;
	color: #666566;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #DFE3E6;
	cursor: pointer;
}

.category-title-right-flyout-panel:hover {
	background-color: #DFE3E6;
	color: #666566;
}

.category-title-right-flyout-panel > svg {
	height: 12px;
	width: 12px;
}

.panel-container-closed-right-flyout-panel {
	height: 0;
}

.panel-container-closed-right-flyout-panel > * {
	display: none;
}

.panel-container-open-right-flyout-panel {
	height: 100%;
	padding-left: 10px;
	padding-right: 20px;
	border-bottom: 2px solid #DFE3E6;
}

#common-properties-right-flyout-panel .column-source.form-control,
#common-properties-right-flyout-panel .column-allocator.single.form-control,
#common-properties-right-flyout-panel .column-allocator.multi.form-control {
	border: 2px solid #DFE3E6;
}

#sub-category-parent-container-right-flyout-panel {
	padding: 5px 8px;
}

.sub-category-title-right-flyout-panel {
	padding: 8px 0;
	font-weight: 500;
	font-size: 14px;
}

.sub-panel-container-right-flyout-panel > .control-panel {
	border-left: 5px solid #DFE3E6;
	padding: 0 8px;
}

.control-summary {
	clear: both;
}

.control-summary > div > a {
	padding-left: 4px;
	padding-right: 4px;
	display: flex;
}

.control-summary > div > a > span.button__text {
	border-bottom: 1px solid #3D70B2;
	padding-top: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.control-summary > div > a[disabled] > span.button__text {
	border-bottom: 1px solid #C7C7C7;
}

.control-summary-link-buttons {
	display: flex;
	align-items: center;
}

.control-summary-link-buttons .button {
	line-height: 0.5;
	padding-left: 0;
	height: 40px;
}

.control-summary-link-buttons > a > svg:not(:root) {
	line-height: 0.5;
	margin-right: 5px;
	transform: translateY(4px);
}

.control-summary-configured-values {
	border-top: 1px solid #DFE3E6;
	margin-top: 5px;
}

.control-summary-table {
	max-height: 270px;
	overflow: auto;
	width: calc(100% - 10px);
	margin-left: 10px;
	display: flex;
}

.control-summary-table > tbody {
	width: 100%;
}

.control-summary-table.disabled {
	color: #E2E2E2;
}

.summary-label {
	color: #5A6872;
}

.control-summary-table-row-multi-data > .tooltip-container > div:first-child {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.control-summary-list-rows {
	display: flex;
	justify-content: space-between;
}

.control-twisty {
	clear: both;
}

.twistypanel-panel {
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	height: 0;
	overflow: hidden;
}

.twistypanel_text {
	font-weight: 400;
	padding-left: 5px;
}

.twistypanel_icon {
	-moz-transition: 0.5s;
	-o-transition: 0.5s;
	-webkit-transition: 0.5s;
	transition: 0.5s;
	transform: translateY(-2px);
	height: 100%;
}
.twistypanel_icon > svg {
	height: 10px;
	width: 10px;
}

.twistypanel_icon.rotate {
	-moz-transition: rotate(90deg);
	-o-transition: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.control-twisty-link-buttons {
	display: flex;
	cursor: pointer;
}

.form-horizontal .checkbox, .form-horizontal .radio {
	padding-top: 2px;
}

.radio, .checkbox {
	margin-top: 5px;
}

/* Override css for wider content */
#common-properties-right-flyout-panel #field-allocator-button-container {
	margin-left: 40%;
	width: inherit;
	top: 0;
}

#common-properties-right-flyout-panel .field-allocator-button {
	width: 12px;
	border-right: 2px solid #F5F7FA;
	transform: rotate(90deg);
}

#common-properties-right-flyout-panel .field-allocator-button:hover {
	border-bottom: 0;
	border-right: 2px solid #3D70B2;
}

#common-properties-right-flyout-panel .column-allocation-panel-row {
	display: grid;
}

#common-properties-right-flyout-panel .column-allocation-panel-column.col-md-3,
#common-properties-right-flyout-panel .column-allocation-panel-column.col-md-9,
#common-properties-right-flyout-panel .column-allocation-panel-column.col-md-11 {
	width: 100%;
}
