/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

// sass-lint:disable no-important

/* Property editing */
.properties-editing {
	position: absolute;
	border: thin solid #000000;
	overflow: scroll;
}

.properties-tooltips.show {
	opacity: 1;
}

.properties-tooltips-container {
	display: inline-block;
}

.properties-tooltips-container.add-remove-columns, .properties-tooltips-fp-reset {
	float: right;
}

.properties-tooltips-filter {
	float: left;
}

.h-separator {
	margin-top: 15px;
	margin-bottom: 15px;
}

.control-panel {
	display: block;
	padding: 0 4px 0 8px;
}

.panel-container-open-right-flyout-panel > .control-panel {
	padding-top: 8px;
	padding-bottom: 8px;
}

.table-editor {
	display: inline;
}


/* Basic control styles */

.control {
	display: inline;
	position: relative;
	padding-left: 30px;
	margin-bottom: 15px;
	cursor: pointer;
	padding: 20px;
}

.default-label-container .control-label,
.label-container .control-label {
	text-align: left;
	display: inline;
	padding-left: 0;
}

.control-label-container {
	padding-top: 0;
}

/* Override for block controls */
.control-radio-block {
	display: block;
	margin-bottom: 2px;
	padding: 5px 5px 0;
}
/* Hide default browser input */

input[type="radio"] {
	position: absolute;
	z-index: -1;
	opacity: 0;
}

.radio_horizontal_label {
	display: inline-block;
	padding-top: 0;
	padding-bottom: 0;
}

.float_right {
	float: right;
}

/* Custom control */

.control__indicator {
	content: "" !important;
	position: absolute !important;
	top: 3px !important;
	left: 0 !important;
	height: 16px !important;
	width: 16px !important;
	border-radius: 50% !important;
	transition:  0.2s ease-in-out !important;
	border: 1px solid #152935;
}
/* Override for block controls */
.control__indicator-block {
	top: 7px !important;
}

/* Hover and focus */

.control__indicator:not(.nohover):hover {
	background: #3D70B2;
	box-shadow: 0 0 0 0 rgba(124, 199, 255, 0.75), inset 0 0 0 3px #FFF;
}

/* Control disabled */
.control input:checked ~ .control__indicator.nohover {
	background: #C7C7C7 !important;
	border: 0 !important;
}

.control input:checked ~ .control__indicator {
	background: #3D70B2;
	height: 17px !important;
	width: 17px !important;
	border: 0;
}

/* Control disabled */
.control__indicator.nohover {
	border: 1px solid #C7C7C7 !important; // sass-lint:disable-line no-important
}

.well {
	background-color: #F5F7FA;
}

/* Added for validations */
.editor_control_area .haslabel {
	margin: 0;
}

.validation-error-message {
	color: #152935;
}

.text__counter {
	color: #5A6872;
	margin-top: 5px;
}

.validation-error-message-color-error,
.validation-error-message-color-warning,
.validation-error-message-color-info {
	font-size: 0.875rem;
}

.form__validation.validation-error-message-type-password {
	margin-top: 5px;
}

.form__validation.validation-error-message-type-textfield {
	margin-top: -20px;
	width: calc(100% - 25px);
}

.form__validation.validation-error-message-type-textfieldbox {
	margin-top: -20px;
	width: calc(100% - 35px);
}

.form__validation {
	margin-top: 2px;
	margin-bottom: 2px;
	padding-right: 0;
}

input.number,
#column-select-control-icon-container,
#some-of-column-control-icon-container,
#radioset-control-container {
	width: 100%;
}

#column-select-control-icon-container-enabled,
#some-of-column-control-icon-container-enabled {
	display: inline-flex;
	width: calc(100% + 24px);
}

#control-icon-container-enabled > div:first-of-type {
	width: 100%;
}

#control-icon-container-enabled {
	display: inline-flex;
	width: 100%;
	* {
		flex-shrink: 0;
	}
}

.validation-warning-message-icon-checkboxset,
.validation-error-message-icon-checkboxset {
	position: relative;
	top: 10px;
}

.validation-error-message-icon {
	width: 20px !important;
	height: 20px;
}

.validation-error-message-icon-structure-table {
	top: 33px;
}

.validation-error-message-icon-structure-list-editor {
	top: 35px;
}

.validation-warning-message-icon-column-select {
	top: 25px;
}

.validation-error-message-icon-column-select,
.validation-warning-message-icon-structure-table,
.validation-warning-message-icon-structure-list-editor {
	top: 30px;
}

.validation-error-message-icon-textfieldbox,
.validation-error-message-icon-selection,
.validation-warning-message-icon-selection,
.validation-error-message-icon-column-select,
.validation-warning-message-icon-column-select,
.validation-error-message-icon-structure-table,
.validation-warning-message-icon-structure-table,
.validation-error-message-icon-structure-list-editor,
.validation-warning-message-icon-structure-list-editor {
	position: relative;
	margin-left: 4px;
}

.modal__container .modal__buttons {
	bottom: initial;
}

/* Override bootstrap css */
.container {
	width: 100%;
	height: 100%;
	padding-top: 0;
}

/* Modal for wider controls in right side flyout */
.rightside-modal-container {
	width: 675px;
	left: unset;
	top: unset;
}

.rightside-modal-container .modal-dialog {
	width: 100%;
	height: 100%;
	margin: 0;
	overflow-y: hidden;
}

.rightside-modal-control-contents-container {
	height: calc(100% - 60px);
	overflow-x: auto;
}

.rightside-modal-container .modal-content {
	height: 100%;
	border-radius: 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	border: 0;
}

/* Need to unset transform for modal dialog, otherwise fixed placement of tooltips doesn't work
	 with transform fixed positioning becomes relative to the class the transform is specified on
	 rather than the viewport. Added for tooltips.jsx. Can be removed when using diff tooltip.  */
.modal.in .modal-dialog {
	transform: unset;
}

.rightside-modal-container.modal.fade:not(.in) .modal-dialog {
	-webkit-transform: translate3d(25%, 0, 0);
	transform: translate3d(25%, 0, 0);
}

.rightside-modal-container .control-contents {
	flex-grow: 1;
	padding: 5px 10px;
}

.rightside-modal-container .control-title {
	padding: 10px 10px 5px;
	font-size: 20px;
	border-bottom: 2px solid #DFE3E6;
	margin-bottom: 5px;
}

.rightside-modal-container .modal__buttons {
	height: 60px;
	width: 100%;
	margin: 0;
	padding: 0;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: unset;
	border-top: 2px solid #DFE3E6;
}

.rightside-modal-container .modal__buttons > .button,
.right-flyout-panel .modal__buttons > .button {
	line-height: 1;
}

.rightside-modal-container .editor_control_area {
	width: calc(100% - 15px);
}

.rightside-modal-container #field-picker-table .modal__buttons {
	position: absolute;
	border-top: unset;
	padding-top: 7px;
	z-index: 1;
}


#add-fields-button {
	border: 0;
	float: right;
	padding: 0 3px;
	margin-left: 0;
	text-decoration: underline;
	line-height: inherit;
}

#add-fields-button > svg:not(:root) {
	overflow: visible;
	margin: 0;
	margin-right: 5px;
	transform: translateY(4px);
}

.button svg {
	margin: 0;
}

.button.button--disabled > svg:not(:root)  {
	fill: #C7C7C7;
}

.button .button__text {
	padding-bottom: 6px;
}

.remove-fields-button > svg {
	width: 23px;
	height: 23px;
}

.remove-fields-button {
	cursor: pointer;
	height: 100%;
	align-items: center;
	display: flex;
}

.remove-fields-button:hover:not([disabled]) {
	background-color: #3D70B2;
}

.remove-fields-button:hover:not([disabled]) > svg > path {
	fill: #FFFFFF;
}

.remove-fields-button[disabled] {
	cursor: default;
}

/* Dropdown */

.Dropdown-root {
	position: relative;
	margin-right: 5px;
}

.Dropdown-control {
	color: #3D70B2;
	width: 100%;
	height: 25px;
	border-bottom: 2px solid #3D70B2;
	padding: 0 1em 0 0 ;
	font-weight: 500;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
	cursor: pointer;
	outline: none;
	transition: 200ms ease;
}

.table-row .Dropdown-arrow {
	top: 10px;
}

.Dropdown-control:hover {
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
	border-color: #3D70B2 transparent transparent;
	border-style: solid;
	border-width: 5px 5px 0;
	content: " ";
	display: block;
	height: 0;
	margin-top: -ceil(2.5);
	position: absolute;
	right: 10px;
	top: 14px;
	width: 0;
}

.is-open .Dropdown-arrow {
	border-color: transparent transparent #3D70B2;
	border-width: 0 5px 5px;
}

.Dropdown-disabled {
	color: #C7C7C7 !important;
	border-color: #C7C7C7 !important;
}

.Dropdown-disabled .Dropdown-arrow {
	border-color: #C7C7C7 transparent transparent;
}

.Dropdown-menu {
	background-color: #DFE3E6;
	border: 1px solid #CCC;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
	box-sizing: border-box;
	margin-top: -1px;
	max-height: 200px;
	overflow-y: auto;
	position: absolute;
	top: 100%;
	width: 100%;
	z-index: 1000;
	-webkit-overflow-scrolling: touch;
}

.Dropdown-menu-clipped .Dropdown-menu {
	position: sticky;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title {
	padding: 8px 10px;
	color: rgba(51, 51, 51, 1);
	font-weight: 600;
	text-transform: capitalize;
}

.Dropdown-option {
	box-sizing: border-box;
	color: #152935;
	background-color: #FFF;
	cursor: pointer;
	display: block;
	padding: 0.7em 1.5625em;
}

.Dropdown-option:last-child {
	border-bottom-right-radius: 2px;
	border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
	background-color: #F0F3F6;
}

.Dropdown-noresults {
	box-sizing: border-box;
	color: #CCC;
	cursor: default;
	display: block;
	padding: 8px 10px;
}

.toggletext_control {
	color: #3D70B2;
	font-weight: 600;
}

.toggletext_icon {
	padding-right: 2px;
	cursor: pointer;
	width: 12px;
	height: 12px;
	fill: #3D70B2;
	color: #3D70B2;
}

.toggletext_text {
	cursor: pointer;
}

.field-picker-top-row {
	margin-bottom: 6px;
	display: flex;
	justify-content: space-between;
}

.rightside-modal-container .field-picker-top-row {
	width: 50%;
	float: right;
}

.tabs--vertical .tabs__list--vertical {
	display: block;
	background: #FFF !important;
	border: 1px solid #DFE3E6;
	border-bottom: 1px solid #DFE3E6 !important;
	min-height: 250px;
}

.tabs__tabpanel[id$="build-options-panel"] {
	padding-top: 20px;
}

.column-structure-allocator-control-row-selected .public_fixedDataTableCell_main {
	background-color: #DFE3E6 !important;
}

.toggletext_image {
	padding-right: 3px;
}

.column-allocator.multi {
	min-height: 100px;
}

.column-allocator.multi.disabled > option {
	color: #C7C7C7;
}

.error-border {
	border: 0.25px solid #FF0000 !important;
}

.inline-textbox {
	border: 0;
	border-bottom: 2px solid #AEAEAE;
}

.column-structure-allocator-control-row-selected .inline-textbox {
	background-color: #DFE3E6;
}

.required-control-indicator {
	color: #3D70B2;
	font-weight: 600;
}

.label-container {
	float: left;
	clear: both;
}

.default-label-container {
	clear: both;
}

.control-description {
	font-size: 12px;
}

.textarea--dark {
	color: #152935;
	border-color: #AEAEAE;
}

.textarea--dark:hover {
	color: #152935;
	border-color: #AEAEAE;
}

.textarea--dark:focus {
	color: #152935;
	border-color: #AEAEAE;
}

.number--dark, .number--light {
	padding: 0.05em 25px 0.15em 0 !important;
}

.number--dark+.number__close, .number--light+.number__close {
	top: 0 !important;
}

.number--dark+.number__spinnerdiv, .number--light+.number__spinnerdiv {
	top: -11px;
}

input[type="number"][disabled].number--dark+.number__spinnerdiv .numpinput__spinner__top .numinputtop,
input[type="number"][disabled].number--light+.number__spinnerdiv .numpinput__spinner__top .numinputtop,
input[type="number"][disabled].number--dark+.number__spinnerdiv .numpinput__spinner__bottom .numinputbottom,
input[type="number"][disabled].number--light+.number__spinnerdiv .numpinput__spinner__bottom .numinputbottom {
	fill: #C7C7C7;
}

.editor_control_area {
	margin-bottom: 5px;
}

/* remove the extra right padding ap-component reserves for its validation icons */
.editor_control_area div div input[type="text"],
.editor_control_area div div input[type="number"] {
	padding-right: 0;
}

.left-padding-15 {
	padding-left: 15px;
}

.rightside-modal-control-contents-container .table-row .checkbox {
	margin-top: 5px;
}

/* Overwrite ap-components style to avoid large margin in bottom.
	 OK to do because we use our own validation component */
.nolabel {
	margin-bottom: 0;
}

.btn.disabled, .btn[disabled], fieldset[disabled] {
	color: #C7C7C7;
}


/* Override so Codemirror autocomplete shows up on top */
.CodeMirror-hints {
	z-index: 1110 !important;
}

.CodeMirror-placeholder {
	color: #C7C7C7 !important; // sass-lint:disable-line no-important
}

.cm-s-error.CodeMirror { border: 2px solid #E71D32; }

.cm-s-warning.CodeMirror { border: 2px solid #EFC100; }

.cm-s-disabled.CodeMirror { color: #C7C7C7; }

.expression-validation-message { margin-top: 25px; }

.expression_editor_control {
	border: 1px solid #C7C7C7;
}

.cm-s-default .cm-keyword {
	color: #3D70B2;
}

.action-panel {
	display: flex;
	flex-wrap: wrap;
}

.properties-text-panel {
	cursor: text;
	font-size: 14px;
	color: #152935;
	padding: 4px 0;
}
.panel-label {
	font-weight: 600;
}

.static-text-icon-container {
	display: flex;
	justify-content: center;
	align-items: center;
}
.static-text-icon-container > svg {
	width: 17px;
	height: 17px;
	margin-right: 10px;
}
.static-text-container {
	display: inline-flex;
}
.static-text {
	cursor: text;
	font-size: 14px;
	color: #152935;
}

.static-text.info {
	font-style: italic;
	color: #5A6872;
}

.link-text-container {
	display: flex;
	margin-left: -5px;
	padding: 4px 0;
}

.link-text-container > svg {
	width: 17px;
	height: 17px;
	margin-right: 5px;
	margin-top: 2px;
}

.link-text-container.warning > svg {
	fill: #FDD600;
}

.link-text-container.error > svg {
	fill: #E62325;
}

.link-text {
	cursor: pointer;
	font-size: 14px;
	line-height: 1.4;
}
