/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#common-properties-right-flyout-panel {
	width: 0px;
	height: 100%;
	background-color: #FFFFFF;
}

#common-properties-right-flyout-panel > .custom-container {
	height: calc(100% - 90px);
	overflow-y: auto;
}

#common-properties-right-flyout-panel .modal__buttons {
	height: 45px;
	width: 100%;
	margin: 0px;
	padding: 0px;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	background-color: #FFFFFF;
}

#node-title-container-right-flyout-panel {
 	height: 45px;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-left: 20px;
	padding-right: 20px;
	background: #FFFFFF;
}

#node-title-right-flyout-panel {
	font-size: 24px;
	height: 45px;
  overflow-y: auto;
	display: flex;
  align-items: center;
}

#node-title-editor-right-flyout-panel {
	margin: 0px;
	padding: 0px;
	border-bottom: none;
}

#title-edit-icon-right-flyout-panel {
	height: 24px;
	width: 24px;
	float: right;
}

#title-edit-icon-right-flyout-panel:hover {
	background-color: #EFEFEF;
	cursor: pointer;
}

#common-properties-right-flyout-panel .well {
	height: 100%;
	background-color:#FFFFFF;
	border: none;
	padding: 0px;
	margin-bottom: 0px;
	border-radius: 0px;
	box-shadow: none;
	-webkit-box-shadow: none;
	border-top: 2px solid #E0E0E0;
	position: relative;
	overflow-y: auto;
}

.category-title-container-right-flyout-panel {
	position: relative;
}

.category-title-right-flyout-panel {
	height: 46px;
	width: 100%;
	font-size: 12px;
	color: #666566;
	display: flex;
	justify-content: space-between;
	align-items:center;
	padding-left: 20px;
	padding-right: 20px;
	border-bottom: 2px solid #E0E0E0;
	cursor: pointer;
}

.category-title-right-flyout-panel:hover {
	background-color: #D8D8D8;
	color: #666566;
}

.category-icon-right-flyout-panel {
	height: 12px;
	width: 12px;
}

.panel-container-closed-right-flyout-panel {
	height: 0px;
}

.panel-container-closed-right-flyout-panel > * {
	display: none;
}

.panel-container-open-right-flyout-panel {
	height: 100%;
	padding-left: 20px;
	padding-right: 20px;
	overflow-y: auto;
	border-bottom: 2px solid #E0E0E0;
}

#common-properties-right-flyout-panel .column-source.form-control,
#common-properties-right-flyout-panel .column-allocator.single.form-control,
#common-properties-right-flyout-panel .column-allocator.multi.form-control {
	border: 2px solid #E0E0E0;
}

#sub-category-parent-container-right-flyout-panel {
	padding: 5px 0px;
}

.sub-category-title-right-flyout-panel {
	padding: 8px 0px;
	font-weight: 500;
  font-size: 14px;
}

.sub-panel-container-right-flyout-panel > .control-panel {
	border-left: 5px solid #E0E0E0;
	padding: 0px 8px;
}

.control-summary {
	clear: both;
}

.control-summary > div > a {
	padding-left: 4px;
	padding-right: 4px;
	display: flex;
}

.control-summary > div > a > span.button__text {
	border-bottom: 1px solid #A6266E;
	padding-top: 10px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.control-summary > div > a[disabled] > span.button__text {
	border-bottom: 1px solid #D8D8D8;
}

.control-summary-link-buttons .button {
  line-height: 0.5;
}

.control-summary-link-buttons > a > svg:not(:root) {
  line-height: 0.5;
	margin-right: 5px;
	transform: translateY(4px);
}

.control-summary-configured-values {
	border-top: 1px solid #E0E0E0;
	margin-top: 5px;
}

.control-summary-table {
	/*padding: 0px;
	margin: 0px;*/
	max-height: 270px;
	overflow: auto;
	width: 100%;
	margin-left: 10px;
}

.control-summary-table.disabled {
	color: #E2E2E2;
}

.summary-label{
	color: #777677;
}

.control-summary-table-rows {
	/*list-style: none;
	padding: 2px 0px;*/
	display: flex;
	justify-content: space-between;
}

.control-twisty {
	clear: both;
}

.twistypanel-panel {
	-moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  height: 0;
  overflow: hidden;
}

.twistypanel_text {
	font-weight: 400;
	padding-left: 5px;
}

.twistypanel_icon {
	-moz-transition: rotate(0deg);
	-ms-transform: rotate(0deg);
	-o-transition: rotate(0deg);
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	-o-transition: all 0.5s;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	height: 10px;
	width: 10px;
	transform: translateY(-2px);
}

.twistypanel_icon.rotate {
	-moz-transition: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transition: rotate(90deg);
	-webkit-transform: rotate(90deg);
	transform: rotate(90deg);
}

.control-twisty-link-buttons {
	cursor: pointer;
}

/* Override css for wider content */
#common-properties-right-flyout-panel #field-allocator-button-container {
	margin-left: 40%;
	width: inherit;
	top: 0px !important;
}

#common-properties-right-flyout-panel .field-allocator-button {
	width: 12px !important;
	border-right: 2px solid #f9f9fb;
	transform: rotate(90deg);
}

#common-properties-right-flyout-panel .field-allocator-button:hover{
	border-bottom: none !important;
	border-right: 2px solid #a6266e;
}

#common-properties-right-flyout-panel .column-allocation-panel-row {
	display: grid;
}

#common-properties-right-flyout-panel .column-allocation-panel-column.col-md-3,
#common-properties-right-flyout-panel .column-allocation-panel-column.col-md-9,
#common-properties-right-flyout-panel .column-allocation-panel-column.col-md-11 {
	width: 100%;
}
