/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

@CHARSET "ISO-8859-1";

@font-face {
    font-family: IBMHLVMedium;
    src: url(./../../node_modules/ap-components-react/dist/fonts/medium/helvetica-neue-medium.woff) format('woff');
}

@font-face {
    font-family: IBMHLVRoman;
    src: url(./../../node_modules/ap-components-react/dist/fonts/roman/helvetica-neue-roman.woff) format('woff');
}

@font-face {
    font-family: IBMHLVBold;
    src: url(./../../node_modules/ap-components-react/dist/fonts/bold/helvetica-neue-bold.woff) format('woff');
}
@font-face {
    font-family: IBMHLVlight;
    src: url(./../../node_modules/ap-components-react/dist/fonts/light/helvetica-neue-light.woff) format('woff');
}

/* right flyout panel */

#right-flyout-panel {
	width: 0px;
	height: 100%;
	float: right;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	z-index: 3;
	box-shadow: -2px 0px 2px #E0E0E0;
	overflow-x: scroll;
	overflow-y: hidden;
	position: relative;
}

/* SVG Canvas styles */

#common-canvas {
  height: 100%;
  width: 100%;
  cursor: default;
  position: relative;
}

#common-canvas-items-container {
  height: 100%;
  position: relative;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.canvas-palette-flyout-div-open {
  left: 250px;
  width: calc(100% - 250px);
}

.canvas-palette-flyout-div-closed {
  left: 0px;
}

#canvas-div {
  height: calc(100% - 45px);
  width: 100%;
  min-width: 258px;
  position: absolute;
  cursor: default;
  top: 47px;
}

.canvas-div-d3 {
	overflow: hidden;
}

.svg-canvas {
  cursor: default;
}

#empty-canvas {
  position: absolute;
  left: 50%;
  top: 40%;
  cursor: default;
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.placeholder-image {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.placeholder-link{
  display: block;
  color: #1d3649;
  opacity: 0.2;
  font-size: 20px;
  font-family: IBMHLVMedium;
  text-align:center;
  text-decoration:underline;
  cursor: pointer;
}

.placeholder-text {
  display: block;
  color: #1d3649;
  opacity: 0.2;
  font-size: 20px;
  font-family: IBMHLVMedium;
  text-align:center;
}

/* Canvas Styles */

.canvas-zoom-controls {
  position: fixed;
  bottom: 96px;
  left: 35px;
  width: 48px;
  height: 64px;
	/* Prevent elements from being selectable */
  /* This stops it being dragged incorrectly.*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas-zoom-controls img {
  width: 24px;
  height: 24px;
}

.canvas-autolayout-controls {
  display: none;
  position: fixed;
  bottom: 35px;
  left: 35px;
  width: 48px;
  height: 64px;
}

.canvas-autolayout-controls img {
  width: 24px;
  height: 24px;
}

/* Node styles */

.canvas-node {
  cursor: 'move';
  border: 2px solid transparent;
  /* Prevent elements from being selectable */
  /* This stops it being dragged incorrectly.*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas-node:focus {
  outline: 1px dotted #9D005C;
}

.canvas-node.selected {
  border: 2px dashed #60C3B9;
}

.canvas-node .node-icon {
  display: block;
  margin: auto;
}

.canvas-node .connector {
}

.canvas-node p {
  font-family: IBMHLVRoman;
  font-size: 10pt;
  white-space: nowrap;
  color: rgb(0,0,0);
  text-align: center;
}

.node-circle{

}
.node-inner-circle{

}

/* Comment styles */

.canvas-comment {
  background-color: #ffff99;
  color: #000000;
  cursor: 'move';
  border: 2px solid transparent;
  /* Prevent elements from being selectable */
  /* This stops it being dragged incorrectly. */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;

	/* For D3 Rendering engine */
	fill: #ffff99;
	stroke: transparent;
	stroke-width: 2;
}

.canvas-comment:focus {
  outline: 1px dotted #9D005C;
}

.canvas-comment.selected {
  border: 2px dashed #60C3B9;
}

.comment-box{

}
.comment-inner-box{

}

/* Link styles */

/* Used by D3 renderer */
.canvas-data-link {
	stroke: black;
	fill: none;
	stroke-width: 2;
}

/* Used by D3 renderer */
.canvas-data-link-austin {
	stroke: #95C4F3;
	fill: none;
	stroke-width: 2;
}

/* Used by D3 renderer */
.canvas-comment-link {
	stroke: gray;
	fill: none;
	stroke-dasharray: 7.3;
}

.canvas-link {
  border: 0;
  margin: 0;
  /* Prevent elements from being selectable */
  /* This stops it being dragged incorrectly.*/
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.canvas-object-link {
	stroke: black;
	fill: none;
	stroke-dasharray: 5.5;
}

.canvas-background-link {
	stroke: white;
	fill: none;
	stroke-width: 10
}

.selectLineStyle {
	stroke: gray;
	fill: none;
	stroke-dasharray: 2.2;
}

polyline.link-arrow-head {
	stroke-dasharray: 0;
}

/* Context Menu styles */

.context-menu-popover {
  min-width: 160px;
  width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  color: #f9f9fb;
  text-align: left;
  background-color: #1d3649;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .15);
  outline: none;
  font-family: IBMHLVlight;
  position: absolute;
  z-index: 2;
}

.context-menu-popover.popover>.arrow{
  display: none !important;
}
.context-menu-popover.popover>.popover-content{
  padding: 0px !important;
}

.react-contextmenu-item.contextmenu-divider {
  height: 1px;
  display: block;
  overflow: hidden;
  background-color: #8c8c8c;
  padding: 1px;
}

/* Context Menu styles - used by react-contextmenu module
   Changes may affect diagram-canvas.jsx */

.react-contextmenu {
  min-width: 160px;
  width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  color: #f9f9fb;
  text-align: left;
  background-color: #1d3649;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  border: 1px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  outline: none;
  font-family: IBMHLVlight;
  display: none;
}

.react-contextmenu--visible {
  display: inline-grid;
}

.react-contextmenu-item {
  display: inline-block;
  width: 100%;
  height: 29px;
  padding: 3px 10px;
  clear: both;
  color: #f9f9fb;
  text-align: inherit;
  white-space: nowrap;
  background: 0 0;
  border: 0;
}

.react-contextmenu-item.active,
.react-contextmenu-item:hover {
  /*color: #41d6c3;*/
  color: #262626;
  background-color: #41d6c3;
  /*background-color: #152935;*/
  /*border-color: #0275d8;*/
  text-decoration: none;
}

.react-contextmenu-item.react-contextmenu-submenu {
  padding: 0px 0px;
}

.react-contextmenu-item.react-contextmenu-submenu > div {
  padding-right: 27px;
}

.react-contextmenu-item.react-contextmenu-submenu  > div:after {
  content: "▶";
  display: inline-block;
  position: absolute;
  right: 7px;
}
