/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

@CHARSET "ISO-8859-1";

/* right flyout panel */

.right-flyout-panel {
	height: 100%;
	float: right;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	z-index: 3;
	box-shadow: -2px 0px 2px #dfe3e6;
	overflow: hidden;
	position: absolute;
	right: 0px;
}

/* SVG Canvas styles */

.common-canvas {
	height: 100%;
	width: 100%;
	cursor: default;
	position: relative;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.common-canvas-items-container {
	height: 100%;
	position: absolute;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.common-canvas-drop-div {
	height: calc(100% - 45px);
	width: 100%;
	min-width: 258px;
	position: absolute;
	cursor: default;
	top: 47px;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	overflow: hidden;
}

.canvas-palette-flyout-div-closed-none {
	left: 0;
	width: 100%;
}

.canvas-palette-flyout-div-closed-narrow {
	left: 64px;
	width: calc(100% - 64px);
}

.canvas-palette-flyout-div-open {
	left: 250px;
	width: calc(100% - 250px);
}

.canvas-flyout-div-closed {
	width: calc(100% - 384px);
}

.canvas-flyout-div-open {
	width: calc(100% - 384px);
}

.canvas-flyout-div-open-medium,
.canvas-flyout-div-open-large {
	width: calc(100% - 690px);
}

.canvas-palette-flyout-div-open.canvas-flyout-div-open {
	width: calc(100% - 570px);
}

.canvas-palette-flyout-div-open.canvas-flyout-div-open-medium,
.canvas-palette-flyout-div-open.canvas-flyout-div-open-large {
	width: calc(100% - 876px);
}

.canvas-palette-flyout-div-closed-none.canvas-flyout-div-open {
	width: calc(100% - 320px);
}

.canvas-palette-flyout-div-closed-none.canvas-flyout-div-open-medium,
.canvas-palette-flyout-div-closed-none.canvas-flyout-div-open-large {
	width: calc(100% - 626px);
}

/* Styles for empty canvas objects */

.empty-canvas {
	position: absolute;
	left: 50%;
	top: 48%;
	cursor: default;
	transform: translate(-50%, -50%);
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
	pointer-events: none;
}

.empty-canvas-image {
	margin-left:auto;
	margin-right:auto;
	display:block;
}

.empty-canvas-text {
	display: block;
	color: #152935;
	opacity: 0.2;
	font-size: 20px;
	text-align:center;
}
