/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

/* Property editing */
.properties-editing {
  position: absolute;
  border: thin solid black;
  overflow: scroll;
}

.properties-title {

}

.properties-body {

}

.properties-buttons {

}

.properties-tooltips.show {
  opacity: 1 !important;
}

.properties-tooltips {
  border-radius: 0px !important;
  background-color: #f9f9fb !important;
  color: #1d3649 !important;
  font-family: IBMHLVRoman !important;
  font-weight: 400 !important;
  z-index: 1100 !important;
  max-width: 250px;
  -webkit-transition: opacity 600ms, visibility 600ms !important;
  transition: opacity 600ms, visibility 600ms !important;
}

.properties-tooltips-container {
  display: inline-block;
}

.properties-tooltips-container.add-remove-columns, .properties-tooltips-fp-reset {
  float: right;
}

.properties-tooltips-filter {
  float: left;
}

.control-panel {
  display: block;
  padding: 8px 8px 8px 8px;
}

.table-editor {
  display: inline;
}


/* Basic control styles */

.control {
  display: inline;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  padding:20px
}

.default-label-container .control-label {
	padding-top: 7px;
	margin-bottom: 0px;
}

/* Override for block controls */
.control-radio-block{
  display: block;
  margin-bottom: 2px;
  padding:5px;
}
/* Hide default browser input */

input[type=radio]{
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.radio {
  padding-bottom: 10px;
}

/* Custom control */

.control__indicator{
  content: '' !important;
  position: absolute !important;
  top: 20px !important;
  left: 0 !important;
  height: 16px !important;
  width: 16px !important;
  /*background: grey !important;*/
  border-radius: 50% !important;
  transition: all .2s ease-in-out !important;
  border: 1px solid #1d3649 !important;
}
/* Override for block controls */
.control__indicator-block{
  top: 7px !important;
}

/* Hover and focus */

.control__indicator:hover{
  background:#a6266e;
  box-shadow: 0 0 0 0 rgba(124,199,255,.75),inset 0 0 0 3px #fff;
  /*transform: scale(0);*/
}

.control input:checked ~ .control__indicator{
  background:#a6266e !important;
  height:17px !important;
  width: 17px !important;
  border: none !important;
}

.control__indicator:disabled{
  border: 1px solid #aeaeae;
}

.well{
  background-color:#f9f9fb;
}

/* Added for validations */
.editor_control_area .haslabel {
  margin: 0 0 25px 0;
}

.validation-error-message {
  color: #1D3649;
}

.text__counter {
  color: #777677
}

.validation-error-message-color-error,
.validation-error-message-color-warning,
.validation-error-message-color-info {
	font-size: .875rem;
}

.form__validation.validation-error-message-type-number,
.form__validation.validation-error-message-type-table,
.form__validation.validation-error-message-type-structure-list-editor,
p.form__validation.validation-error-message-type-selection {
	margin-top: 5px;
	width: 93%;
}

.form__validation.validation-error-message-type-textfield,
.form__validation.validation-error-message-type-textfieldbox {
	margin-top: -20px;
	width: 90%;
}

.form__validation.validation-error-message-type-dropdown {
	margin-top: 3px;
	width: 89%;
}

.form__validation.validation-error-message-type-checkbox {
	margin-top: 0px;
}

input.number,
#column-select-control-icon-container,
#some-of-column-control-icon-container,
#radioset-control-container {
	width: 100%;
}

#column-select-control-icon-container-enabled,
#some-of-column-control-icon-container-enabled {
	display: inline-flex;
	width: calc(100% + 24px);
}

#control-icon-container-enabled {
	display: inline-flex;
	width: 100%;
}

#control-icon-container-enabled > div:first-of-type {
  width: 100%;
}

#control-icon-container-enabled > * {
	flex-shrink: 0;
}

.validation-error-message-icon {
	width: 20px !important;
	height: 20px;
	margin-left: 4px;
}

.validation-error-message-icon-table,
.validation-warning-message-icon-table {
	position: relative;
	top: 45px;
}

.validation-error-message-icon-structure-list-editor,
.validation-warning-message-icon-structure-list-editor {
	position: relative;
	top: 0px;
}

.form__validation.validation-error-message-type-selection {
	margin-top: 2px;
	width: 93%;
}

.modal__container .modal__buttons {
  bottom: initial;
}

/* Override bootstrap css */
.container {
	width: 100%;
	height: 100%;
	padding-top: 0px;
}

/* Field Picker */

#field-picker-back-button {
  height: 32px;
  width: 32px;
  border: none;
  padding: 0;
  padding-top: 2px;
}

#field-picker-filter-list{
  list-style-type: none;
  float: right;
  margin-top: 10px;
  margin-bottom: 0px;
  width:40%;
  height: 22px;
}

#field-picker-back-button svg.icon {
  overflow: visible;
}

.reactable-th-checkbox {
  padding-left: 15px;
}

#filter-list-title {
  width: 40px;
  height: 32px;
}

.filter-list-li {
  float: left;
  display: block;
  width:14px;
  fill:#A91560;
  margin-right: 2px;
  padding: 2px;
}

.filter-list-li-icon:hover {
  background-color:#EAEAEA;
}

#field-picker-table {
  width: 100%;
}

#field-picker-table #table-header {
  border: 1px solid #d8d8d8;
  border-bottom: none;
}

#add-fields-button {
  border: none;
  float: right;
  padding-top: 4px;
  padding-right: 0px;
  padding-left: 10px;
  margin-right: 0px;
  text-decoration: underline;
}

#reset-fields-button {
  border: none;
  float: right;
  height: 32px;
  width: 90px;
  padding-right: 0px;
}

#reset-fields-button-label {
  float: left;
  padding-top: 5px;
  padding-right: 5px;
  text-decoration: underline;
}

#reset-fields-button-icon {
  float: left;
  width: 20px;
  fill: #A91560;
  margin-top: -2px;
}

#reset-fields-button:hover #reset-fields-button-icon{
  fill: #FFFFFF;
}

[id^=remove-fields-button] {
  float: right;
  border: none !important;
  margin-top: 2px !important;
  margin-bottom: 2px !important;
  padding-top: 4px !important;
  height: 30.75px;
  width: 33px;
  fill: #A91560;
  padding-left: 5px !important;
  padding-right: 5px !important;
}

#remove-fields-button-disabled {
	background-color: transparent;
}

.field-picker-data-type-icon {
  width: 15px;
  height: 15px;
  float: left;
  margin-right: 5px;
  fill: #A91560;
}

/* Dropdown */

.Dropdown-root {
  position: relative;
}

.Dropdown-control {
	color: #a6266e;
	width: 100%;
	border-bottom: 2px solid #a6266e;
	padding: 0 1em 0 0 ;
	font-weight: 500;
	position: relative;
  overflow: hidden;
  box-sizing: border-box;
  cursor: default;
  outline: none;
  transition: all 200ms ease;
}

.Dropdown-control-table {
	padding-top: 10px;
}

.Dropdown-control-table .Dropdown-arrow{
  top: 10px;
}

.Dropdown-control:hover {
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
}

.Dropdown-arrow {
  border-color: #a6266e transparent transparent;
  border-style: solid;
  border-width: 5px 5px 0;
  content: ' ';
  display: block;
  height: 0;
  margin-top: -ceil(2.5);
  position: absolute;
  right: 10px;
  top: 14px;
  width: 0
}

.is-open .Dropdown-arrow {
  border-color: transparent transparent #a6266e;
  border-width: 0 5px 5px;
}

.Dropdown-menu {
  background-color: #e0e0e0;
  border: 1px solid #ccc;
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  margin-top: -1px;
  max-height: 200px;
  overflow-y: auto;
  position: absolute;
  top: 100%;
  width: 100%;
  z-index: 1000;
  -webkit-overflow-scrolling: touch;
}

.Dropdown-menu .Dropdown-group > .Dropdown-title{
  padding: 8px 10px;
  color: rgba(51, 51, 51, 1);
  font-weight: bold;
  text-transform: capitalize;
}

.Dropdown-option {
  box-sizing: border-box;
  color: #152935;
  cursor: pointer;
  display: block;
	padding: .7em 1.5625em;
}

.Dropdown-option:last-child {
  border-bottom-right-radius: 2px;
   border-bottom-left-radius: 2px;
}

.Dropdown-option:hover {
  background-color: #c7c7c7;
}

.Dropdown-noresults {
  box-sizing: border-box;
  color: #ccc;
  cursor: default;
  display: block;
  padding: 8px 10px;
}

/* Column Structure Allocator */
.table-selected-row {
  background-color: #e0e0e0 !important;
}

#table-row-move-button-container {
  width: 16px !important;
  margin-top: 0px;
  margin-left: 12px;
  top: 50%;
  padding: 0;
}

.table-row-move-button .table-row-move-button-disable{
  width: 10px !important;
  border-bottom: 2px solid #f9f9fb;
  border-right: none;
  transform: rotate(0deg);
}

.table-row-move-button:hover{
  border-bottom: 2px solid #a6266e;
  border-right: none;
}

.toggletext_control {
  color: #a6266e;
  font-weight: bold;
}

.toggletext_icon {
  padding-right: 2px;
  cursor: pointer;
  width: 12px;
  height: 12px;
}

.toggletext_text {
  cursor: pointer;
}

.sort_icon-column {
  padding-left: 2px;
}

/* Flexible Table */
/*.flexible-table-toolbar{
  margin-bottom: 5px;
}*/

#flexible-table-container {
  height: 180px;
  width: 100%;
  overflow: scroll;
  position: relative;
  border: 1px solid #d8d8d8;
  background-color: #FFFFFF;
  padding: 0;
  color: #000000;
}

th div div label, td div div label {
  padding-bottom: 10px;
}

.reactable-header-sortable:focus {
  outline: none;
}

#flexible-table-container>table>thead>tr>th {
  padding: 5px;
}

#flexible-table-container>table>tbody>.field-picker-data-rows>td {
  padding: 5px 0 5px 0;
}

#flexible-table-container>table>tbody>tr>td {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.field-picker-top-row {
  margin-bottom: 6px;
}

#flexible-table-search-bar {
  height: 32px;
  width: 45%;
  float: left;
  margin: 5px 0 2px 5px;
}

#flexible-table-search {
  width: 100%;
  float: left;
  padding-bottom: 2px;
  border-bottom-width: 1px;
}

#flexible-table-search-icon {
  width: 20px;
  height: 20px;
  float: left;
  fill: #A91560;
  margin-top: 4px;
}

#flexible-table-search:focus {
  border-bottom: 2px solid #777677;
}

.flexible-table-header {
  width: 100%;
  background-color: #f9f9fb;
  padding: 0 0px 0 0px;
}

.flexible-table-header-container {
  width: 100%;
  background-color: #f9f9fb;
  padding: 0;
}

.table>tbody>tr:nth-child(1)>td {
  border-top: none;
}

tr.reactable-column-header {
  height: 30px;
	cursor: default;
}

#table-header {
  width: 100%;
}

/* end Flexible table */

.tabs--vertical .tabs__list--vertical {
    display: block;
    background: white !important;
    border: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0 !important;
    min-height: 250px;
}

.tabs__tabpanel[id$=build-options-panel] {
  padding-top: 20px;
}

#add-fields-button > span > svg:not(:root) {
  overflow: visible;
}

.column-structure-allocator-control-row-selected .public_fixedDataTableCell_main {
  background-color: #e0e0e0 !important;
}

.toggletext_image {
  padding-right: 3px;
}

.column-allocator {
  min-height: 100px;
}

.error-border {
  border: .25px solid #ff0000 !important;
}

.inline-textbox {
  border: none;
  border-bottom: 2px solid #aeaeae;
}

.column-structure-allocator-control-row-selected .inline-textbox {
  background-color: #e0e0e0;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
  background-color: #f9f9fb !important;
}

#structure-table {
    width: 100% !important;
}

.structure-table-first-column {
  width: 100%;
}

.structure-table-second-column {
  width: 16px !important;
}

.required-control-indicator {
  color: #a6266e;
  font-weight: bold;
}

.checkbox-panel label {
  margin-bottom: 0 !important;
}

.label-container {
  float: left;
	clear: both;
}

.default-label-container {
	clear: both;
}

.control-description {
  font-size: 12px;
}

tbody.reactable-data {
  border-bottom: 1px solid #d8d8d8;
}
tbody.reactable-data .editor_control_area {
  padding-right: 5px;
}

.number--dark, .number--light {
  padding: .05em 25px .15em 0 !important;
}

.number--dark+.number__close, .number--light+.number__close {
  top: 0px !important;
}

.editor_control_area {
  margin-bottom: 5px;
}

.checkbox-panel {
  padding-top: 18px;
}

.checkbox-controls {
  padding-left: 5px;
}

.number-generator {
  color: #aeaeae;
  text-decoration: underline;
}

.filter-header-border {
  border: 1px solid #d8d8d8;
  border-bottom: none;
}

.left-padding-15 {
  padding-left: 15px;
}

#flexible-table-container>table>tbody>.field-picker-data-rows>td[label=checkbox] {
    padding-left: 15px;
}

/* Overwrite ap-components style to avoid large margin in bottom.
   OK to do because we use our own validation component */
.nolabel {
  margin-bottom: 0px;
}

.structure-list-editor {
	border: 1px solid #d8d8d8;
}

.public_fixedDataTable_header .public_fixedDataTableCell_main {
	border-top-style: none;
	border-bottom-style: none;
}
