/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.rightside-modal-container #field-picker-table .modal__buttons {
	position: absolute;
	border-top: unset;
	padding-top: 7px;
	z-index: 1;
}

.rightside-modal-container #field-picker-table #flexible-table-container-wrapper {
	height: 100%;

	// this can be removed after bootstrap.css is gone
	.field-picker-data-rows td {
		border-top: 0;
	}
}

.rightside-modal-container #field-picker-table .flexible-table-container-absolute {
	height: 450px;
}

.field-picker-checkbox {
	width: 20px;
	position: relative;

	// position checkbox within row
	label {
		padding-bottom: 10px;
		top: -2px;
	}
}

.field-picker-data {
	height: 100%;
	display: flex;
	align-items: center;
}

.field-picker-data-type-icon {
	width: 15px;
	height: 15px;
	float: left;
	margin-right: 5px;
}
