/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

// sass-lint:disable no-important

$flexible-table-header-row-height: 32px;
$flexible-table-first-column-left-padding: 15px;

#flexible-table-container-wrapper {
	height: 200px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

// selectcolumns and tables without headers
.flexible-table-container-absolute-noheader {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid #DFE3E6;
	background-color: #FFFFFF;
	tr {
		border-bottom: 1px solid #DFE3E6;
	}
}

.flexible-table-container-absolute {
	height: 100%;
	width: 100%;
	border: 1px solid #DFE3E6;
	background-color: #FFFFFF;

	#flexible-table-container {
		height: 100%;
	}

	thead {
		background-color: #F5F7FA;
		border-bottom: 1px solid #DDDDDD;
		display: inline-flex;
		th {
			display: inline-flex;
			height: $flexible-table-header-row-height;
			border-bottom: 0 !important; // this line can be removed once bootstrap css is gone
			align-items: center;

			// sort icon in header
			svg {
				padding-left: 3px;
				width: 11px;
				height: 11px;
			}

			// checkbox in table header
			.checkbox-container {
				display: inline-flex;
				align-items: center;
				.checkbox-label {
					margin-left: -9px;
				}
			}

			// align labels and sort icon
			.flexible-table-column {
				display: inline-flex;
				align-items: center;
			}
		}
		th:first-of-type {
			padding-left: $flexible-table-first-column-left-padding;
		}
		.reactable-th-scrollbar {
			padding: 0;
		}

		tr {
			height: $flexible-table-header-row-height; // needed for chrome in windows
		}
	}
	tbody {
		height: calc(100% - #{$flexible-table-header-row-height} + 2px); // 2px for the border
		width: 100%;
		position: absolute;
		overflow-y: auto;
		overflow-x: hidden; // address scrollbar with mouse issue
		display: flex; // address scrollbar with mouse issue
		flex-direction: column; // address scrollbar with mouse issue
		tr {
			border-bottom: 1px solid #DFE3E6;
		}
		.field-picker-data-rows td {
			padding-top: 5px;
			padding-bottom: 5px;
		}
		td {
			padding: 0;
			border-top: 0;
		}
		td:first-of-type {
			padding-left: $flexible-table-first-column-left-padding;
		}
	}
}

.flexible-table {
	margin-bottom: 0;
	overflow: hidden;
}

// this section can be removed once bootstrap css is gone
.properties-structure-list-editor #flexible-table-container>table>tbody>tr>td,
.properties-structure-list-editor #flexible-table-container-noheader>table>tbody>tr>td,
.properties-column-structure #flexible-table-container>table>tbody>tr>td,
.properties-column-structure #flexible-table-container-noheader>table>tbody>tr>td {
	padding-top: 0;
	padding-bottom: 0;
	padding-right: 0;
	border-top: 0;
}

.table-row .table-text, .readonly-control, .toggletext_control, .table-subcell {
	padding-top: 8px;
	padding-bottom: 8px;
}

// text overflow in cell to truncate with ellipsis
.table-row .table-text {
	width: inherit;
	margin-left: -$flexible-table-first-column-left-padding; // this is needed so the content will not expand the column width
	display: inline-flex;
	span {
		word-wrap: break-word;
		width: inherit;
		padding-left: $flexible-table-first-column-left-padding;
	}
}

// vertical align dropdown within table cells
.table-row #oneofselect-control-container {
	padding-top: 4px;
}

// highlight selected rows in tables
.table-selected-row {
	background-color: #DFE3E6;
}

// vertical align row reorder buttons in moveable tables
#table-row-move-button-container {
	width: 16px;
	padding-left: 5px;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.table-row-move-button:not([disabled]) {
	cursor: pointer;
	svg:hover {
		border-bottom: 2px solid #3D70B2;
		padding-bottom: 0;
	}
}

.table-row-move-button > svg {
	height: 14px;
	width: 14px;
	padding-bottom: 2px;
}

// disable blue outline from header on focus
.reactable-header-sortable:focus {
	outline: none;
}

.flexible-table-search-container {
	width: 50%;
	height: 30px;
	float: left;
	top: -5px;
	position: relative;
	.flexible-table-search-bar {
		width: 90%;
		float: left;
		margin: 5px 0 2px 5px;

		&.disabled * {
			border-bottom-color: #C7C7C7;
			&::placeholder {
				color: #C7C7C7;
			}
		}

		input {
			padding-bottom: 2px;
			border-bottom: 1px solid #8C9BA5;
			text-overflow: ellipsis;
		}
	}

	#flexible-table-search-icon {
		width: 20px;
		height: 20px;
		float: left;
		margin-top: 8px;
	}
}

// layout tables to allow room for condition icon
#structure-table {
	width: 100%;
	display: inline-block;
	> tbody {
		width: 100%;
		display: inline-block;

		.structure-table-content-row {
			width: 100%;
			display: flex;

			.structure-table-content-row-first-column {
				width: calc(100% - 16px);
			}
		}
	}
}

.flexible-table-control-container {
	width: 100%;

	.flexible-table-container-icon {
		display: inline-flex;
		width: 100%;

		.flexible-table-container-icon-first-column {
			width: calc(100% - 25px);
			flex-shrink: 0.02;
		}

		.flexible-table-container-icon-second-column {
			width: 16px !important;
			flex-shrink: 0;
		}
	}
}
