/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.common-canvas_tooltip {
	font-size: .75rem;
	position: fixed;
	padding: 5px 10px;
	background-color: #F9F9FB;
	border: 1px solid #AEAEAE;
	font-weight: 400;
	color: black;
	line-height: 1.2;
	text-align: center;
	z-index: 8000;
	pointer-events: none;
	transition: opacity .1s ease-in-out, visibility .1s ease-in-out, transform .1s cubic-bezier(.71, 1.7, .77, 1.24);
}

.common-canvas_tooltip[direction=right] {
	transform: translate3d(-22px, 0, 0);
}

.common-canvas_tooltip[direction=top] {
	transform: translate3d(0, 22px, 0);
}

.common-canvas_tooltip[direction=left] {
	transform: translate3d(22px, 0, 0);
}

.common-canvas_tooltip[direction=bottom] {
	transform: translate3d(0, -22px, 0);
}

.common-canvas_tooltip svg {
	z-index: 8000;
	position: absolute;
	width: 10px;
	height: 14px;
}

.common-canvas_tooltip[direction=top] svg {
	transform: rotate(-90deg);
}

.common-canvas_tooltip[direction=left] svg {
	transform: rotate(180deg);
}

.common-canvas_tooltip[direction=bottom] svg {
	transform: rotate(90deg);
}


.common-canvas_tooltip svg polyline{
	fill: #F9F9FB;
	stroke-width: 0;
}

.common-canvas_tooltip svg polygon{
	fill: #AEAEAE;
}

.common-canvas_tooltip[aria-hidden="false"] {
	transform: scaleX(1) translate3d(0, 0, 0) rotate(0deg);
	visibility: visible;
	opacity: 100;
}

.common-canvas_tooltip[aria-hidden="true"] {
	visibility: hidden;
	opacity: 0;
}
