/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#canvas-toolbar {
	height: 45px;
	min-width: 258px;
	width: 100%;
	background-color: #F9F9F9;
	border-bottom: 2px solid #E0E0E0;
	box-sizing: content-box;
	position: relative;
	-webkit-transition: all 0.2s;
	transition: all 0.2s;
}

.toolbar-fixed-location {
	position: fixed !important;
	z-index: 2;
}

#toolbar-items {
	height: 45px;
	list-style-type: none;
	margin-bottom: 0px;
	padding: 0px;
	display: flex;
}

.toolbar-items-container {
	display: flex;
}

#zoom-actions-container {
	margin-left: auto;
}

.list-item-containers .list-item {
	height: 45px;
	width: 64px;
	display: flex;
	justify-content: center;
	box-sizing: content-box;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
}

.list-item-containers .list-item.overflow {
	height: 32px;
	width: 150px;
}

.list-item:hover {
	background-color: #EAEAEA;
}

.list-item:active {
	background-color: #D8D8D8;
}

.list-item-disabled:hover {
	background-color: #F9F9F9;
}

.toolbar-divider {
	border-right: 2px solid #E0E0E0;
}

#overflow-action {
	justify-content: flex-start;
}

.overflow-toolbar-divider {
	border-bottom: 2px solid #E0E0E0;
}

.toolbar-item {
	height: 24px;
	width: 24px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.toolbar-item.overflow {
	height: 32px;
	width: inherit;
	margin: 0px;
	display: flex;
	justify-content: flex-start;
}

.toolbar-icons {
	height: 16px;
	width: 16px;
	margin: auto;
	/* Prevent elements from being dragged onto canvas */
	-webkit-user-drag: none;
	-khtml-user-drag: none;
	-moz-user-drag: none;
	-o-user-drag: none;
	user-drag: none;
}

.toolbar-icons.overflow {
	margin-left: 8px;
	margin-right: 8px;
	float: left;
}

.overflow-action-list-item {
	position: absolute;
}

.overflow-toolbar-icon-label {
	margin: auto;
	margin-left: 0px;
	color: #000000;
}

.overflow-toolbar-icon-label.disabled {
	color: #AEAEAE;
}

.toolbar-popover-list {
	z-index: 1;
	top: 45px;
	display: block;
	position: absolute;
	list-style-type: none;
	padding: 0px;
}

.toolbar-popover-list-hide {
	display: none;
}

.toolbar-popover-list>.list-item-containers {
	background-color: #eaeaea;
}

.toolbar-popover-list>.list-item-containers>.list-item:hover {
	background-color: #d8d8d8;
}

.toolbar-popover-list>.list-item-containers>.list-item-disabled:hover {
	background-color: #eaeaea;
}
