/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

$notification-panel-arrow-height: 8px;
$notification-panel-header-height: 35px;

$notification-left-border-color-width: 4px;

// This section adds an ease-in ease-out effect for the notification-panel-container
.notification-panel-container {
	transition: 0.25s ease-in-out;
	opacity: 1;
	margin-top: 0;

	&.panel-hidden {
		transition: 0.25s ease-in-out;
		display: block;
		opacity: 0;
		margin-top: -$notification-panel-arrow-height;
		visibility: hidden;
	}
}

.notification-panel {
	position: absolute;
	width: 300px;
	height: 100%;
	right: 8px;
}

.notification-popup-arrow {
	display: block;
	fill: $ui-02;
	stroke: $ui-04;
	position: absolute;
	right: 16px;
	width: 16px;
}

.notification-panel-header {
	position: absolute;
	height: $notification-panel-header-height;
	margin-top: $notification-panel-arrow-height;
	width: inherit;
	background-color: $ui-02;
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-left: 12px;
	border: 1px solid $ui-04;
	border-bottom: 0;
	font-weight: 400;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
}

.notification-panel-messages {
	position: absolute;
	width: inherit;
	margin-top: $notification-panel-arrow-height + $notification-panel-header-height;
	max-height: calc((100% / 2) - #{$notification-panel-header-height});
	overflow-y: auto;
	background-color: $ui-01;
	border: 1px solid $ui-04;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1);

	.notifications-button-container {
		border-bottom: 1px solid $ui-04;
	}

	.notifications-button-container:nth-last-of-type(1) {
		border-bottom: 0;
	}

	.notifications {
		padding: 10px 8px;
		display: inline-flex;
		width: 100%;
		border-style: none;
		border-left: $notification-left-border-color-width solid $ui-01;
		cursor: default;

		&.clickable {
			cursor: pointer;
		}

		&:active,
		&:focus {
			outline: none;
			border-style: none;
			border-left: $notification-left-border-color-width solid $ui-01;
		}

		&:hover {
			background-color: $ui-02;

			&.unspecified {
				border-left: $notification-left-border-color-width solid $field-01;
			}
			&.error {
				border-left: $notification-left-border-color-width solid $support-01;
			}
			&.warning {
				border-left: $notification-left-border-color-width solid $support-03;
			}
			&.success {
				border-left: $notification-left-border-color-width solid $support-02;
			}
			&.informational {
				border-left: $notification-left-border-color-width solid $support-04;
			}
		}

		.notification-message-type {
			display: flex;
			justify-content: center;
			height: 23px;
			width: 25px;

			> svg {
				display: flex;
				justify-content: center;
				width: 17px;
				height: 100%;
				margin-right: 8px;
			}
		}

		.notification-message-details {
			text-align: left;

			.notification-message-title {
				color: $text-01;
				font-weight: 500;
				line-height: 1.5;
			}

			.notification-message-content {
				color: $text-02;
			}
		}
	}
}

.notification-panel-messages + * {
	clear: both;
}

.notification-message-timestamp {
	display: inline-flex;
	color: $text-02;
	svg {
		width: 10px;
		height: 10px;
		margin-right: 3px;
		margin-top: 3px;
	}

	.notification-message-string {
		font-size: 10px;
		margin-top: auto;
		margin-bottom: auto;
	}
}
