/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-title-editor {
	height: 47px;
	display: flex;
	align-items: center;
	padding-left: 20px;
	border-bottom: 2px solid $ui-04;
}

.properties-title-editor-input {
	height: 100%;
	width: 100%;
	input { //override styling from carbon
		font-size: 24px;
		background: unset;
		margin: 0;
		padding: 0;
		&:focus {
			border: 0;
		}
		&:not([readonly]):focus {
			border-bottom: 2px solid $ui-04;
		}
		&[readonly] {
			cursor: default;
		}
	}
}

.properties-title-editor-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 45px;
	border: 0;
	background-color: $ui-01;
	cursor: pointer;
	&:hover {
		background-color: $ui-03;
	}
	&:active {
		background-color: $ui-04;
	}
	> svg {
		height: 20px;
		width: 20px;
	}
}
