.properties-tearsheet-panel {
	.bx--modal-header {
		padding: $spacing-06 $spacing-07;
		border-bottom: 1px solid $ui-03;
		margin-bottom: 0;
	}
	.bx--modal-content {
		padding: $spacing-06 $spacing-07;
		background-color: $ui-02;
		margin-bottom: 0;
		.react-codemirror2, .react-codemirror2 .CodeMirror {
			background-color: $ui-01;
		}
	}	
}
