/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

/* These are used in custom expression builder */
$field-function-width: 85%;
$operators-width: 15%;
$fields-table-margin: 50%;
$fields-table-width: 48%;
$values-table-width: 48%;
$functions-table-margin: 70%;
$functions-table-width: 68%;
$functions-help-width: 28%;
$operator-width: 45%;
$operator-margin: 50%;

.properties-expression-selection-container, .properties-field-and-values-table-container,
.properties-functions-table-container {
	width: 100%;
	tbody {
		tr {
			border-bottom: 0;
		}
	}
}

.properties-expression-selection-container {
	margin-top: 2%;
}

.properties-expression-title {
	line-height: 2rem;
	font-weight: bold;
}

.properties-expression-selection-fieldOrFunction {
	width: $field-function-width;
	float: left;
}

.properties-expression-selection-operator {
	width: $operators-width;
	margin-left: $field-function-width;
}

.properties-field-table-container {
	width: $fields-table-width;
	float: left;
	.properties-ft-search-container {
		width: 100%;
	}
}

.properties-value-table-container {
	width: $values-table-width;
	margin-left: $fields-table-margin;
	.properties-ft-search-container {
		width: 100%;
	}
}
.properties-functions-table {
	width: $functions-table-width;
	float: left;
	.properties-ft-search-container {
		width: 100%;
	}
}

.properties-help-table-container {
	width: $functions-help-width;
	margin-left: $functions-table-margin;
}

.properties-function-help-command {
	font-weight: 700;
	text-decoration: underline;
}

.properties-function-help-text {
	overflow-wrap: break-word;
}

.properties-operator-title {
	padding-top: 1rem;
	padding-bottom: 2rem;
	width: 100%;
	font-weight: bold;
	text-align: center;
}

.properties-operator-button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 95px;

	.properties-operator-tooltip-container {
		width: $operator-width;
		margin-bottom: 2px;
	}

	.properties-operator-button {
		margin-bottom: 2px;
		height: 20px;
		width: $operator-width;
		padding: 2px 35px 2px 10px;
	}
}

.properties-expression-field-select {
	width: 50%;
	margin-bottom: 7px;
}

.properties-expression-function-select {
	width: 50%;
	margin-bottom: 7px;
}

.properties-primaryTabs .bx--tabs-trigger {
	margin-bottom: 5px;
}
