{
  "extends": "@istanbuljs/nyc-config-babel",
  "all": true,
  "reporter": [
    "html",
    "text-summary",
    "l-cov"
  ],
  "include": [
    "src/**/*.js",
    "../common-canvas/src"  
  ],
  "instrument": true,
  "sourceMap": true,
  "require": [
    "./scripts/babel/babelOptions.js"
  ],
  "webpack": {
    "config": [
      "./webpack.config.dev.js",
      "./webpack.config.prod.js"
    ]
  }

}