/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#canvas-toolbar {
	height: 45px;
	min-width: 258px;
	width: 100%;
	background-color: $ui-02;
	border-bottom: 2px solid $ui-04;
	box-sizing: content-box;
	position: relative;
	-webkit-transition: 0.2s;
	transition: 0.2s;
}

.toolbar-fixed-location {
	position: fixed;
	z-index: 2;
}

#toolbar-items {
	height: 45px;
	list-style-type: none;
	margin: 0;
	padding: 0;

	display: flex;
}

.toolbar-items-container {
	display: flex;
}

#zoom-actions-container {
	margin-left: auto;
}

.list-item-containers .list-item {
	height: 45px;
	width: 64px;
	display: flex;
	justify-content: center;
	box-sizing: content-box;
	cursor: pointer;
	user-select: none;

	&.toolbar-divider {
		width: 62px;
	}
}

.list-item-containers .list-item.overflow {
	height: 32px;
	width: 150px;
}

.list-item {
	&:hover {
		background-color: $ui-04;
	}
	&:active {
		background-color: $ui-05;
	}
}

.list-item-containers .list-item-disabled {
	cursor: default;
}

.list-item-disabled {
	&:hover, &:active {
		background-color: transparent;
	}
}

.toolbar-divider {
	border-right: 2px solid $ui-04;
}

#overflow-action {
	justify-content: flex-start;
}

.overflow-toolbar-divider {
	border-bottom: 1px solid $ui-04;
}

.toolbar-item {
	height: 24px;
	width: 24px;
	margin: auto;
	display: flex;
	justify-content: center;
}

.toolbar-item.overflow {
	height: 32px;
	width: inherit;
	margin: 0;
	display: flex;
	justify-content: flex-start;
}

.toolbar-icons, .toolbar-item > svg {
	height: 16px;
	width: 16px;
	margin: auto;
	/* Prevent elements from being dragged onto canvas */
	-webkit-user-drag: none;
}

.toolbar-icons.overflow, .toolbar-item.overflow > svg {
	margin-left: 8px;
	margin-right: 8px;
	float: left;
}

.overflow-action-list-item {
	position: absolute;
}

.overflow-toolbar-icon-label {
	margin: auto;
	margin-left: 0;
	color: $text-01;
}

.overflow-toolbar-icon-label.disabled {
	opacity: 0.5;
}

.toolbar-popover-list {
	z-index: 1;
	top: 45px;
	display: block;
	position: absolute;
	list-style-type: none;
	padding: 0;
	border: 2px solid $ui-04;
	background-color: $ui-02;
}

.toolbar-popover-list-hide {
	display: none;
}
