{
	"ignoreFiles": [
		".build/**/*.css"
  	],
	"rules": {
		"string-quotes": "double",
		"color-hex-case": "upper",
		"color-hex-length": "long",
		"color-no-invalid-hex": true,
		"color-no-named": true,
		"number-leading-zero": "always",
		"number-max-precision": 6,
		"number-no-trailing-zeros": true,
		"number-zero-length-no-unit": true,
		"function-blacklist": [],
		"function-calc-no-unspaced-operator": true,
		"function-comma-space-after": "always",
		"function-url-quotes": "double",
		"value-no-vendor-prefix": true,
		"declaration-block-no-single-line": true,
		"declaration-block-semicolon-newline-after": "always"
	}
}
