/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

/* Override styles for streamsJobFlowNested.json canvas */

.streams {
	.streams-link-decoration {
		fill: #FFFFFF;
		stroke: #243C48;
	}

}
