/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

/* Palette styles */
.palette-flyout-div {
	font-size: 14px;
	position: relative;
	height: 100%;
	padding-bottom: 5px;
	background-color: $ui-02;
	-webkit-transition: 0.2s;
	transition: 0.2s;
	cursor: default; /* This stops Chrome displaying an I-beam cursor when dragging in the canvas. */
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-flyout-div-open {
	.palette-flyout-search-icon {
		pointer-events: none;
		cursor: default;
	}
}

.palette-flyout-content .palette-list-item {
	border-width: 0;
}

.palette-flyout-content .palette-list-item:active {
	background-color: $ui-04;
}

.palette-flyout-content .palette-scroll {
	overflow-y: hidden; /*prevents multiple scroll bars in flyout*/
}

.palette-flyout-content .palette-content-list {
	border-bottom: 2px solid $ui-04;
}

.palette-flyout-content .palette-list-item .palette-list-item-text-div {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.palette-flyout-category {
	cursor: pointer;
	border-width: 0 0 0 2px;
	height: 46px;
	align-items: center;
	justify-content: space-between;
	display: flex;
	border-bottom: 2px solid $ui-04;
}

.palette-flyout-category-caret {
	height: 13px;
	width: 13px;
	position: relative;
	right: 18px;
	background-color: $ui-02;
}

.palette-flyout-category-caret-closed {
	top: 9px;
	right: 20px;
}

.palette-flyout-category-item {
	height: 46px;
	display: flex;
	align-items: center;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-flyout-category-item-icon {
	width: 25px;
	margin-left: 16px;
}

.palette-flyout-text-container {
	max-width: 205px;
	display: flex;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-flyout-category-text {
	line-height: 46px;  /* Must be same as containing div height */
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	margin-left: 10px;
}

.palette-flyout-category-count {
	line-height: 46px;  /* Must be same as containing div height */
	padding-left: 5px;
}

.palette-flyout-category:hover {
	font-weight: 600;
}

.palette-flyout-search {
	height: 47px;
	align-items: center;
	justify-content: space-between;
	display: flex;
	border-bottom: 2px solid $ui-04;
	border-right: 2px solid $ui-04;
	.bx--form-item { //override styling from carbon
		margin: 0;
		padding: 0;
	}
	input { //override styling from carbon
		font-size: 16px;
		font-weight: normal;
		width: 190px;
		background: unset;
		margin: 0;
		padding: 0;
		padding-left: 10px;
		&:focus {
			border: 0;
		}
		&::placeholder {
			font-style: italic;
			color: $text-03;
		}
	}
}

.palette-flyout-search-icon {
	margin: 0;
	padding: 15px 20px 10px 22px;
	justify-content: center;
	cursor: pointer;
}

.palette-flyout-search-icon:hover {
	background-color: $ui-04;
}

.palette-flyout-search-icon > svg {
	height: 20px;
	width: 20px;
	margin: auto;
}

.palette-flyout-content-categories {
	height: calc(100% - 48px);
	width: 100%;
	position: absolute;
	overflow-x: hidden;
	overflow-y: overlay;
}

.palette-div {
	position: absolute;
	bottom: 35px;
	left: 60px;
	width: 473px;   /* Set default width to show three columns of nodes in grid view. */
	/* width = (3 * grid_node_width) + category_min_width + (3 * hoverZoneSize)*/
	height: 450px;  /* If this is changed see palette-content height below */
	/* height = (3 * grid_node_height) + (2 * hoverZoneSize) + palette-topbar height + padding */
	font-size: 14px;
	border: 3px solid transparent; /* transparent border provides sizing hover zone */
	cursor: default; /* This stops Chrome displaying an I-beam cursor when dragging in the canvas. */
	z-index: 2;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-show-button {
	position: fixed;
	bottom: 15px;
	left: 35px;
	width: 48px;
	height: 48px;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

#paletteTooltip {
	position: fixed;  /* Override position to ensure the 'show palette' button tooltip is next to the button */
}

.palette-topbar {
	height: 40px;
	padding: 10px;
	background-color: $ui-03;
	border-bottom: 2px solid $ui-04;
}

.palette-topbar .left-navbar {
	height: 20px;
	float: left;
	vertical-align: middle;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-topbar .right-navbar {
	height: 20px;
	float: right;
	vertical-align: middle;
}

.palette-topbar .secondary-action {
	margin-left: 10px;
	display: inline-block;
	cursor: pointer;
	width: 20px;
}

.palette-topbar .close-icon svg {
	fill: $brand-02;
}

.palette-content {
	height: 404px;  /* palette-div height - topbar height - 6 pixels (for hover zone to aid drag sizing)*/
	display: flex;
	background-color: $ui-01;
	border-bottom: 1px solid $ui-03;
	border-right: 1px solid $ui-03;
}

.palette-scroll {
	overflow-y: auto;
}

.palette-categories {
	background-color: $ui-03;
	width: 130px;
	min-width: 130px; /* Set a min-width to ensure space for the scroll bar when it is displayed */
	border-right: 2px solid $ui-04;
	overflow-x: hidden;
}

.palette-category {
	padding: 10px;
	border-width: 0 0 0 2px;
	cursor: pointer;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-category:hover {
	font-weight: 600;
}

.palette-category-selected {
	font-weight: 600;
	border-color: $brand-02;
	border-width: 0 0 0 2px;
	border-style: solid;
	width: 130px;
	min-width: 130px;
	padding-left: 8px;
	padding-top: 10px;
	padding-bottom: 10px;
	cursor: pointer;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-grid-node-outer {
	width: 112px;
	height: 134px;
	display: inline-block; /* This makes the nodes layout across and then down inside the content area. */
	vertical-align: middle; /* This makes the contents of this div align in the middle vertically. */
	text-align: center;     /* This makes the contents of this div (text and icon) align in the center horizontally. */
	border-width: 1px;
	border-color: $ui-03;
	border-style: solid;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-grid-node-outer:hover {
	border-color: $brand-02;
	color: $brand-02;
}

.palette-grid-node-inner {
	padding-top: 16px;
}

.palette-grid-node-icon svg {
	display: inline-block;
}

.palette-grid-node-icon .node-icon {
	width: 64px;
	height: 64px;
}

.palette-grid-node-text {
	width: 100%;
	padding-top: 6px;
}

.palette-content-list {
	width: 100%;
}

.palette-list-item {
	height: 46px;
	border-width: 1px;
	border-color: $ui-03;
	border-style: solid;
	display: flex;
	align-items: center;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}

.palette-list-item:hover {
	background-color: $ui-03;
}

.palette-list-item-icon {
	line-height: 46px; /* Must be same as containing div height plus half the icon size */
	height: 32px;
	width: 32px;
	margin-left: 12px;
}


.palette-list-item-text-span {
	line-height: 46px;  /* Must be same as containing div height */
	margin-left: 10px;
}

.palette-three-way-icon-div {
	margin-left: 5px;
	display: inline-block;
	cursor: pointer;
	width: 20px;
	height: 20px;
	/* Prevent elements from being selectable */
	/* This stops it being dragged incorrectly.*/
	user-select: none;
}
