/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#app-container {
	height: 100vh;
	overflow: hidden;
}

.canvas-container {
	height: calc(100% - 52px);
	width: 100%;
}

.canvas-container-double {
	height: calc(100vh - 50px);
	width: 100%;
}

.canvas-single {
	height: 50%;
}

#title {
	background-color: #F0F3F6;
	color: #152935;
	width: auto;
	text-decoration: none;
	font-size: 14px;
}

/* Styles for elements displayed for empty canvas. */

.empty-harness-image {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 174px;
	height: 121px;
}

.empty-harness-link {
	display: block;
	color: #152935;
	opacity: 0.2;
	font-size: 20px;
	text-align: center;
	text-decoration: underline;
	cursor: pointer;
	pointer-events: all;
}

.empty-harness-text {
	display: block;
	color: #152935;
	opacity: 0.2;
	font-size: 20px;
	text-align: center;
}


/*Navbar*/
.app-navbar {
	height: 50px;
}

.app-navbar-items {
	position: fixed;
	width: 100%;
	height: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F0F3F6;
	z-index: 4;
	border-bottom: 2px solid #DFE3E6;
}

.navbar-li {
	float: left;
}

.navbar-li a, #palette-true a {
	display: block;
	text-align: center;
	padding: 14px;
	width: 18px;
	fill: #3D70B2;
	box-sizing: content-box;
}

.navbar-li a:hover, #palette-true a:hover {
	background-color: #DFE3E6;
	color: #3D70B2;
}

#palette-false {
	display: none;
}

.action-bar-sidepanel {
	float: right;
}

.nav-divider {
	border-left: 2px solid #DFE3E6;
}

/*Console*/
#app-console {
	font-size: small;
	border-top: 1px solid #152935;
	background-color: rgba(243, 243, 243, 0.8);
	position: fixed;
	bottom: 0;
	width: 100%;
	-webkit-transition: height 2s;
	transition: height 2s;
	overflow-y: auto;
	z-index: 1;
	padding-left: 1em;
	line-height: 1.1;
	word-wrap: break-word;
}

.console-pretty-json {
	margin: 0 10px 10px 0;
	border: 0;
	border-bottom: 1px dashed #CCC;
}

.console-entry {
	list-style: none;
}

.console-entry::before {
	content: "• ";
	padding-right: 10px;
}

.console-entry:hover {
	list-style: none;
	background-color: #DFE3E6;
}

.console-entry:hover::before {
	content: "+";
	padding-right: 12px;
}

/*SidePanel*/
#app-sidepanel {
	background-color: #F0F3F6;
	top: 50px;
	position: fixed;
	right: 0;
	height: calc(100% - 50px);
	-webkit-transition: width 0.5s;
	transition: width 0.5s;
	color: #152935;
	overflow: auto;
	z-index: 100;
	box-sizing: border-box;
	font-size: small;
	overflow-x: hidden;
}

.sidepanel-headers {
	padding-bottom: 5px;
}

.sidepanel-children {
	padding-left: 10px;
	padding-right: 10px;
}

.sidepanel-divider {
	width: 100%;
	margin: 0 0 5px;
	border-bottom: 2px solid #DFE3E6;
	padding: 5px 0;
}

.sidepanel-spacer {
	width: 100%;
	padding: 6px 0 0;
}

.sidepanel-list-item-icon {
	height: 40px;
	width: 40px;
	min-width: 32px;
	float: left;
}

.sidepanel-list-item-text {
	line-height: 30px;
	margin-left: 15px;
}

#buttonOneTimeLayoutHorizontal , #buttonOneTimeLayoutVertical {
	width: 100%;
	text-align: center;
}

#properties-documentation-link {
	float: right;
	margin-top: -26px;
	text-decoration: underline;
}

#properties-documentation-link a {
	color: #152935;
}

#properties-documentation-link a:hover {
	color: #3D70B2;
}

/*Override ap-components-react styles*/
#app-sidepanel label {
	color: #152935;
}

#app-sidepanel .button {
	line-height: 1;
	margin-top: 2px;
	margin-bottom: 2px;
}

.toggle__checkbox {
	margin-top: 5px;
}

#app-sidepanel .radio--dark + label,
#app-sidepanel .checkbox--dark + label {
	font-weight: 100;
}

.checkbox--dark + label::before, .checkbox--dark[type="checkbox"][disabled] + label::before {
	border: 2px solid #8C9BA5;
}

.text--dark, .text--dark:focus {
	border-color: #8C9BA5;
	color: #152935;
}

/* Dropdown menu */
#app-sidepanel .select__options__item {
	border-left: 1px solid #152935;
	border-right: 1px solid #152935;
	border-bottom: 1px solid #152935;
}

#app-sidepanel .select > .select__button > .select__button__arrow {
	top: 10px;
}

/* This styles are used in the decoratorCanvas.json canvas file. */

.leftDecoration {
	fill: transparent;
	stroke: #000000;
}

.rightDecoration {
	fill: transparent;
	stroke: #000000;
}

.rightDecoration:hover {
	fill: #000000;
	stroke: #000000;
}

.zoom-in-decoration {
	fill: #FFFF00;
}

.zoom-in-decoration:hover {
	stroke: #000000;
}

/*  Override styles for comments in linkColorCanvas.json */

.custom-canvas-comment {
	cursor: "move";
	fill: #FFFF99;
	stroke: transparent;
}

.custom-comment-box {
	fill: #2BE2CA;
}


/*  Override styles for comments in commentColorCanvas.json */

.canvas-comment-1 {
	fill: #B98BA6;
	stroke: #000000;
}

.canvas-comment-2 {
	fill: #A6C8E4;
	stroke: #000000;
}

.canvas-comment-3 {
	fill: #A6C8E4;
	stroke: #000000;
}

/* These styles are used in the portsColorCanvas.json canvas file. */

.port-output-red {
	stroke: #FF1493;
	fill: #FFFFFF;
	stroke-width: 2;
}

.port-output-red[connected="yes"] {
	stroke: #FF00FF;
	fill: #FF00FF;
	stroke-width: 2;
}

.port-output-red:hover {
	fill: #FF0000;
}

.port-output-yellow {
	stroke: #DAA520;
	fill: #FFFFFF;
	stroke-width: 2;
}

.port-output-yellow[connected="yes"] {
	stroke: #FFD700;
	fill: #FFD700;
	stroke-width: 2;
}

.port-output-yellow:hover {
	fill: #DAA520;
}

.port-output-green {
	stroke: #008000;
	fill: #FFFFFF;
	stroke-width: 2;
}

.port-output-green[connected="yes"] {
	stroke: #008080;
	fill: #008080;
	stroke-width: 2;
}

.port-output-green:hover {
	fill: #008000;
}

.port-output-blue {
	stroke: #0000FF;
	fill: #FFFFFF;
	stroke-width: 2;
}

.port-output-blue[connected="yes"] {
	stroke: #0000FF;
	fill: #0000FF;
	stroke-width: 2;
}

.port-output-blue:hover {
	fill: #6A5ACD;

}
/* This style is used in the customAttrs.json canvas file. */

.node-image[data-attr1] {
	opacity: 0.25;
}

/* Override common-canvas styles with custom colors for customColorCanvas.json */
.d3-data-link.error {
	stroke: #FF4500;
}

.d3-data-link.warning {
	stroke: #FFFF00;
}

.d3-data-link.okay {
	stroke: #008000;
}

.d3-object-link.blue {
	stroke: #0000FF;
}

.main-comment-box {
	fill: #2BE2CA;
}

.properties-editing {
	top: 75px;
	left: 75px;
	min-width: 700px;
	z-index: 2;
}

.properties-large {
	width: 70%;
}

.properties-medium {
	width: 55%;
}

.properties-small {
	width: 40%;
}

.custom-slider {
	display: flex;
	overflow-x: hidden;
	.icon {
		margin-top: 15px;
		width: 20px;
	}
	.slider {
		display: block;
		width: 100%;
		.text--slider {
			padding: 0.5em 25px 0.5em 0;
		}
		p {
			display: none;
		}
	}
	.message {
		margin-top: -15px;
	}
}

.custom-toggle {
	display: flex;
	.text {
		padding-left: 10px;
	}
	.icon {
		margin-left: auto;
	}
}

.table-row .custom-toggle {
	padding-top: 6px;
}

.custom-map-summary {
	span {
		display: block;
	}
	text {
		color: #0000CD;
		font-weight: 600;
	}
}

.custom-map {
	.condition {
		margin-top: 5px;
		margin-bottom: 10px;
		display: flex;
		.map-icon {
			height: 20px;
			width: 20px;
			margin-right: 4px;
		}
	}
	button {
		margin-right: 4px;
	}
}

.list-item-containers .list-item.overflow {
	width: 170px;
}
