/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#app-container {
  height: 100vh;
  overflow: hidden;
}

#canvas-container {
  height: 100%;
  width: 100%;
  padding-top: 50px;
}

#title {
  background-color: #1D3649;
  color: #FFFFFF;
  width:auto;
  text-decoration: none;
	font-size: 14px;
}

/* Styles for elements displayed for empty canvas. */

.empty-harness-image {
  margin-left:auto;
  margin-right:auto;
  display:block;
}

.empty-harness-link{
  display: block;
  color: #1d3649;
  opacity: 0.2;
  font-size: 20px;
  font-family: IBMHLVMedium;
  text-align:center;
  text-decoration:underline;
  cursor: pointer;
  pointer-events:all;
}

.empty-harness-text {
  display: block;
  color: #1d3649;
  opacity: 0.2;
  font-size: 20px;
  font-family: IBMHLVMedium;
  text-align:center;
}


/*Navbar*/
.app-navbar-items {
  position:fixed;
  width:100%;
	height: 50px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D3649;
  z-index: 4;
}

.navbar-li {
  float: left;
}

.navbar-li a, #palette-true a{
  display: block;
  text-align: center;
  padding: 14px;
  width:18px;
  fill:#3FB8AF;
  box-sizing: content-box;
}

.navbar-li a:hover, #palette-true a:hover {
  background-color: #111111;
  color: #3FB8AF;
}

#palette-false{
  display: none;
}

.action-bar-sidepanel {
  float:right;
}

.nav-divider {
  border-left:1px solid #264A60;
}

/*Console*/
#app-console {
  font-size: small;
  border-top: 1px solid #1D3649;
  background-color: rgba(243, 243, 243, 0.8);
  position:fixed;
  bottom: 0px;
  width: 100%;
  -webkit-transition:height 2s;
  transition: height 2s;
  overflow-y: auto;
  z-index: 1;
  padding-left: 1em;
	line-height: 1.1;
	word-wrap: break-word;
}

.console-pretty-json {
	margin: 0px 10px 10px 0px;
	border: none;
	border-bottom: 1px dashed #ccc;
}

.console-entry {
	list-style: none;
}

.console-entry:before {
	content: "• ";
	padding-right: 10px;
}

.console-entry:hover {
	list-style: none;
	background-color: #D8D8D8;
}

.console-entry:hover:before {
	content: "+";
	padding-right: 12px;
}

/*SidePanel*/
#app-sidepanel {
  background-color: #264A60;
	top: 50px;
  position: fixed;
  right: 0;
  height: calc(100% - 50px);
  -webkit-transition:width 0.5s;
  transition: width 0.5s;
  color: #F9F9FB;
  overflow: auto;
  z-index: 100;
  box-sizing: border-box;
  font-size: small;
}

.sidepanel-headers {
  padding-bottom: 5px;
}

.sidepanel-children {
  padding-left: 10px;
  padding-right: 10px;
}

.sidepanel-divider {
  width: 100%;
  margin: 0 0 5px 0;
  border-bottom:1px solid #1D3649;
  padding: 5px 0 5px 0;
}

.sidepanel-spacer {
  width: 100%;
  padding: 6px 0 0 0;
}

#buttonOneTimeLayoutHorizontal , #buttonOneTimeLayoutVertical{
  width: 100%;
  text-align: center;
}

#properties-documentation-link {
	float: right;
	margin-top: -26px;
	text-decoration: underline;
}

#properties-documentation-link a {
	color: #FFFFFF;
}

#properties-documentation-link a:hover {
	color: #41D6C3;;
}

/*Override ap-components-react styles*/
.button {
  line-height: 0.5;
  margin-top: 2px;
  margin-bottom: 2px;
}

.toggle__checkbox{
  margin-top: 5px;
}

.radio--dark + label, .checkbox--dark + label {
  font-weight: 100;
}

/* Dropdown menu */
.select__button {
	line-height: 1;
}

.select__options__item {
	border-left: 1px solid #1D3649;
	border-right: 1px solid #1D3649;
	border-bottom: 1px solid #1D3649;
}

.select > .select__button > .select__button__arrow {
	top: 10px;
}

/* This styles are used in the decoratorCanvas.json canvas file. */

.leftDecoration {
  border: 1px solid black;
	/* For D3 rendering */
	fill: transparent;
	stroke: black;
}

.rightDecoration {
  border: 1px solid black;
	/* For D3 rendering */
	fill: transparent;
	stroke: black;
}

.rightDecoration:hover {
  background-color: black;
	/* For D3 rendering */
	fill: black;
	stroke: black;
}

.zoom-in-decoration {
  background-image: url(../graphics/zoom-in_32.svg);
  background-repeat: no-repeat;
  background-color: yellow;
	/* For D3 rendering */
	fill: yellow;
}

.zoom-in-decoration:hover {
	border: 1px solid black;
	/* For D3 rendering */
	stroke: black;
}

/*  Override styles for comments in linkColorCanvas.json */

.custom-canvas-comment {
  background-color: #ffff99;
  color: #000000;
  cursor: 'move';
  border: 2px solid transparent;
	/* For D3 rendering engine */
	fill: #ffff99;
	stroke: transparent;
}

.custom-comment-box{
  background-color: #2be2ca;
	/* For D3 rendering engine */
	fill: #2be2ca;
}


/*  Override styles for comments in commentColorCanvas.json */

.canvas-comment-1 {
  background-color: #b98ba6;
  color: #000;
  border: 1px solid black;
  text-align: center;
	/* For D3 rendering engine */
	fill: #b98ba6;
	stroke: black;
}

.canvas-comment-2 {
  background-color: #a6c8e4;
  color: #000;
  border: 1px solid black;
  text-align: center;
	/* For D3 rendering engine */
	fill: #a6c8e4;
	stroke: black;
}

.canvas-comment-3 {
  background-color: #a6c8e4;
  color: #000;
  border: 1px solid black;
  text-align: center;
	/* For D3 rendering engine */
	fill: #a6c8e4;
	stroke: black;
}

/* These styles are used in the portsColorCanvas.json canvas file. */

.port-output-red {
	stroke: deeppink;
	fill: white;
	stroke-width: 2;
}

.port-output-red[connected=yes] {
	stroke: fuchsia;
	fill: fuchsia;
	stroke-width: 2;
}

.port-output-red:hover {
  fill: red;
}

.port-output-yellow {
	stroke: goldenrod;
	fill: white;
	stroke-width: 2;
}

.port-output-yellow[connected=yes] {
	stroke: gold;
	fill: gold;
	stroke-width: 2;
}

.port-output-yellow:hover {
  fill: goldenrod;
}

.port-output-green {
	stroke: green;
	fill: white;
	stroke-width: 2;
}

.port-output-green[connected=yes] {
	stroke: teal;
	fill: teal;
	stroke-width: 2;
}

.port-output-green:hover {
  fill: green;
}

.port-output-blue {
	stroke: blue;
	fill: white;
	stroke-width: 2;
}

.port-output-blue[connected=yes] {
	stroke: blue;
	fill: blue;
	stroke-width: 2;
}

.port-output-blue:hover {
  fill: slateblue;
}
/* This style is used in the customAttrs.json canvas file. */

.node-image[data-attr1] {
  opacity: 0.25;
}

/* Override common-canvas styles with custom colors for customColorCanvas.json */
.d3-data-link.error {
  stroke: #FF4500;
}

.d3-data-link.warning {
  stroke: #FFFF00;
}

.d3-data-link.okay {
  stroke: #008000;
}

.d3-object-link.blue {
  stroke: #0000FF;
}

.main-comment-box{
  background-color: #2be2ca;
	/* For D3 rendering engine */
	fill: #2be2ca;
}

.properties-editing {
	top: 75px;
	left: 75px;
	min-width: 700px;
	z-index: 2;
}

.properties-large {
	width: 70%;
}

.properties-medium {
	width: 55%;
}

.properties-small {
	width: 40%;
}

.custom-slider .slider .text--slider {
	padding: .5em 25px .5em 0 !important;
}

.custom-slider {
	display: flex;
}

.custom-slider .slider {
	display: block;
	width: 100%;
}

.custom-slider .icon {
	margin-top: 15px;
}

.custom-toggle {
  display: flex;
}

.custom-toggle .text {
  padding-left: 10px;
}

.custom-toggle .icon {
  margin-left: auto;
}

.list-item-containers .list-item.overflow {
	width: 170px;
}
