/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

#app-container {
  height: 100vh;
}

#canvas {
  height: 100%;
  width: 100%;
  padding-top: 60px;
}

#title {
  background-color: #1D3649;
  color: #FFFFFF;
  width:auto;
  text-decoration: none;
}

/*Navbar*/
.app-navbar-items {
  position:fixed;
  width:100%;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1D3649;
  z-index: 3;
}

.navbar-li {
  float: left;
}

.navbar-li a, .palette-true a{
  display: block;
  text-align: center;
  padding: 14px;
  width:18px;
  fill:#3FB8AF;
  box-sizing: content-box;
}

.navbar-li a:hover, .palette-true a:hover {
  background-color: #111111;
  color: #3FB8AF;
}

#palette-false a{
  fill: #797979;
}

#palette-false a:hover {
  background-color: #1D3649;
}

.action-bar-sidepanel {
  float:right;
}

.nav-divider {
  border-left:1px solid #264A60;
}

/*Console*/
#app-console {
  font-size: small;
  border-top: 10px solid #1D3649;
  background-color: rgba(243, 243, 243, 0.8);
  position:fixed;
  bottom: 0px;
  width: 100%;
  -webkit-transition:height 2s;
  transition: height 2s;
  overflow-y: auto;
  z-index: 1;
  padding-left: 1em;
	line-height: 1.1;
	word-wrap: break-word;
}

/*SidePanel*/
#app-sidepanel {
  background-color: #264A60;
  padding-top: 60px;
  position:fixed;
  right: 0;
  height: 100%;
  -webkit-transition:width 2s;
  transition: width 2s;
  color: #F9F9FB;
  /*overflow-x:auto;*/
  z-index: 2;
  box-sizing: border-box;
  font-size: small;
}

.sidepanel-headers {
  padding-bottom: 5px;
}

.sidepanel-children {
  padding-left: 10px;
  padding-right: 10px;
}

.sidepanel-divider {
  width: 100%;
  margin: 0 0 5px 0;
  border-bottom:1px solid #1D3649;
  padding: 5px 0 5px 0;
}

.sidepanel-spacer {
  width: 100%;
  padding: 6px 0 0 0;
}

/*Override ap-components-react styles*/
.button {
  line-height: 0.5;
  margin-top: 2px;
  margin-bottom: 2px;
}

.toggle__checkbox{
  margin-top: 5px;
}

.radio--dark + label {
  font-weight: 100;
}

/* Dropdown menu */
.select__button {
	line-height: 1;
}

.select__options__item {
	border-left: 1px solid #1D3649;
	border-right: 1px solid #1D3649;
	border-bottom: 1px solid #1D3649;
}

.select > .select__button > .select__button__arrow {
	top: 10px;
}
