/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

// This file contains styles used to customize the default styles for common
// canvas.

// Some useful variations on Carbon colors
$blue: lighten($inverse-link, 20%);
$light-blue: lighten($inverse-link, 34%);
$dark-blue: lighten($inverse-link, 10%);

// Node colors for the Regular (Vertical) theme
$node-body-stroke: $blue;
$node-body-fill: $light-blue;

$node-port-output-stroke-color: $blue;
$node-port-output-fill-color: $canvas-background-color;

$node-port-output-connected-stroke-color: $blue;
$node-port-output-connected-fill-color: $light-blue;

$node-port-output-hover-stroke: $dark-blue;
$node-port-output-hover-fill: $dark-blue;

$node-port-input-stroke-color: $blue;
$node-port-input-fill-color: $canvas-background-color;

$node-port-input-connected-stroke-color: $blue;
$node-port-input-connected-fill-color: $light-blue;

$node-port-input-arrow-connected-stroke-color: $dark-blue;
$node-port-input-arrow-connected-fill-color: transparent;

.modeler-flows {

	.d3-node-group {
		.d3-node-body-outline-austin,
		.d3-node-body-outline {
			fill: transparent;
			stroke: transparent;

			&[hover="yes"] {
				fill: transparent;
			}

			&.node-disabled {
				fill: $disabled-02;
			}

			&.node-disabled:hover {
				fill: $disabled-02;
			}
		}

		.d3-node-selection-highlight[data-selected="yes"],
		.d3-comment-selection-highlight[data-selected="yes"] {
			stroke: $gray-50;
			stroke-dasharray: 5, 5;
			stroke-width: 1;
			fill: transparent;
			pointer-events: none;
		}

		.d3-node-port-input {
			stroke: transparent;
			fill: transparent;
			stroke-width: 1;

			&[connected="yes"] {
				stroke: transparent;
				fill: transparent;
				stroke-width: 2;
			}
		}

		.d3-node-port-input-arrow[connected="yes"] {
			stroke: transparent;
			fill: none;
			stroke-width: 2;
		}

		.d3-node-port-output {
			opacity: 0;
			transform: translateX(-8px);
			transition: opacity 0.1s cubic-bezier(0.4, 0.14, 0.3, 1), transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
			transition-delay: 0.125s;
		}

		/* Hover over d3-node-group */
		&:hover {
			.d3-node-port-input {
				stroke: transparent;
				fill: transparent;
				stroke-width: 1;

				// &:hover {
				// 	stroke: $interactive-01;
				// 	fill: $interactive-01;
				// }
			}

			.d3-node-port-output {
				opacity: 1;
				transform: translateX(0);
				transition: opacity 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275), transform 0.1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
				transition-delay: 0.125s;
			}

			/* Vertical Ellipsis (overflow menu) Styles */
			.d3-node-ellipsis:hover,
			.d3-node-ellipsis-background:hover~.d3-node-ellipsis {
				fill: $icon-01;
				stroke-width: 0;
			}

			.d3-node-ellipsis-background {
				fill: transparent;
				stroke-width: 0;
				cursor: context-menu;

				&:hover {
					fill: $gray-20;
				}
			}

		}
	}

	.d3-data-link {
		fill: none;
		stroke: $ui-04;
		stroke-width: 1;
	}

	g .d3-comment-link:hover,
	g .d3-data-link:hover,
	g .d3-selectable-link:hover,
	g .d3-selectable-link:hover ~ .d3-selectable-link,      /* Colors arrow head when hovering over line. */
	g .d3-data-link-selection-area:hover ~ .d3-selectable-link, /* Colors arrow head when hovering over line selection area. */
	g .d3-comment-link-selection-area:hover ~ .d3-selectable-link, /* Colors arrow head when hovering over line selection area. */
	g .d3-association-link-selection-area:hover ~ .d3-selectable-link { /* Colors arrow head when hovering over line selection area. */
		stroke: $interactive-01;
		stroke-width: 2;
	}


	.d3-new-connection-line[linkType="nodeLink"] {
		stroke: $interactive-01;
		stroke-width: 2;
		stroke-dasharray: 5 5;
		fill: none;
	}

	/* Decoration Styles */

	.node-cache-empty {
		fill: $ui-01;
	}

	.node-cache-full {
		fill: $ui-01;
	}

	.node-sql-pushback {
		fill: $ui-01;
	}

	/* Override styles in common canvas to fade out nodes and comments
		 when they are cut to the clipboard.*/
	.node-image[data-is-cut] {
		zoom: 1;
		filter: "alpha(opacity=50)";
		opacity: 0.5;
	}

	.canvas-comment[data-is-cut] {
		zoom: 1;
		filter: "alpha(opacity=50)";
		opacity: 0.5;
	}
}


.classic {
	.d3-node-body-outline {
		stroke: $node-body-stroke;
		stroke-width: 2;
		fill: $node-body-fill;
	}

	.d3-node-body-outline[hover="yes"] {
		stroke: $node-body-stroke;
		stroke-width: 2;
		fill: $blue;
	}

	.d3-node-selection-highlight {
		stroke-width: 0;
		fill: transparent;
		pointer-events: none;
	}

	.d3-node-selection-highlight[data-selected="yes"] {
		stroke: $node-selection-color;
		stroke-dasharray: 5, 5;
		stroke-width: 2;
		fill: transparent;
		pointer-events: none;
	}

	.d3-node-label {
		font-size: 13px;
		fill: $node-label-color;
		/* Prevent elements from being selectable */
		/* This stops it being dragged incorrectly.*/
		user-select: none;
	}

	.d3-node-port-output {
		stroke: $node-port-output-stroke-color;
		fill: $node-port-output-fill-color;
		stroke-width: 2;
	}

	.d3-node-port-output[connected="yes"] {
		stroke: $node-port-output-connected-stroke-color;
		fill: $node-port-output-connected-fill-color;
		stroke-width: 2;
	}

	.d3-node-port-output:hover {
		stroke: $node-port-output-hover-stroke;
		fill: $node-port-output-hover-fill;
	}

	.d3-node-port-input {
		stroke: $node-port-input-stroke-color;
		fill: $node-port-input-fill-color;
		stroke-width: 2;
	}

	.d3-node-port-input-assoc {
		stroke: $node-port-input-stroke-color;
		fill: $node-port-input-fill-color;
		stroke-width: 2;
	}

	.d3-node-port-input-assoc:hover {
		stroke: $node-port-output-hover-stroke;
		fill: $node-port-output-hover-fill;
	}

	.d3-node-port-input[connected="yes"] {
		stroke: $node-port-input-connected-stroke-color;
		fill: $node-port-input-connected-fill-color;
		stroke-width: 2;
	}

	.d3-node-port-input[connected="yes"][isSupernodeBinding="yes"] {
		stroke: $node-port-input-connected-super-binding-stroke-color;
		fill: $node-port-input-connected-super-binding-fill-color;
		stroke-width: 1;
	}

	.d3-node-port-input-arrow {
		stroke: transparent;
		fill: transparent;
	}

	.d3-node-port-input-arrow[connected="yes"] {
		stroke: $node-port-input-arrow-connected-stroke-color;
		fill: $node-port-input-arrow-connected-fill-color;
	}

	.d3-comment-selection-highlight {
		stroke-width: 0;
		fill: transparent;
		pointer-events: none;
	}

	.d3-comment-selection-highlight[data-selected="yes"] {
		stroke: $node-selection-color;
		stroke-dasharray: 5 5;
		stroke-width: 2;
		fill: transparent;
		pointer-events: none;
	}
}

/* These styles are used by the Blue Ellipses node layout override setting. */

.blue-ellipses {
	.d3-node-body-outline {
		stroke: #828281;
		fill: #7BD3F9;
		stroke-width: 2;
	}

	.d3-node-label {
		font-size: 13px;
		font-weight: 600;
		text-anchor: left;
		user-select: none; // Prevents text highlighting on drag over
	}

	.d3-node-port-output {
		stroke: #828281;
		fill: $ui-01;
	}

	.d3-node-port-output[connected="yes"] {
		stroke: #828281;
		fill: #7BD3F9;
	}

	.d3-node-port-output:hover {
		stroke: $dark-blue;
		fill: $dark-blue;
	}

	.d3-node-port-input {
		stroke: #828281;
		fill: $ui-01;
	}

	.d3-node-port-input[connected="yes"] {
		stroke: #828281;
		fill: #7BD3F9;
	}
}

/* These styles are used in the db2ExplainCanvas.json. */

.db2-explain {
	.d3-node-body-outline {
		stroke: #828281;
		fill: #FFFAC2;
		stroke-width: 2;
		text-anchor: middle;
	}

	.d3-node-label {
		font-size: 13px;
		font-weight: 600;
		text-anchor: middle;
		user-select: none; // Prevents text highlighting on drag over
	}

	.small_text {
		font-size: 11px;
		text-anchor: middle;
		user-select: none; // Prevents text highlighting on drag over
	}

	.dark_purple {
		stroke: #828281;
		fill: #C2A7CE;
		stroke-width: 2;
	}

	.light_purple {
		stroke: #828281;
		fill: #F1F0FE;
		stroke-width: 2;
	}

	.light_brown {
		stroke: #828281;
		fill: #F3DAD4;
		stroke-width: 2;
	}

	.pink {
		stroke: #828281;
		fill: #F9BEB8;
		stroke-width: 2;
	}

	.gray {
		stroke: #828281;
		fill: #BCB7BD;
		stroke-width: 2;
	}

	.light_green {
		stroke: #828281;
		fill: #E8F0C1;
		stroke-width: 2;
	}
}

/* Override styles for streamsJobFlowNested.json canvas */

.streams-monitor {
	.streams-link-decoration {
		fill: #FFFFFF;
		stroke: #243C48;
	}

}

/* This styles are used in the autoAICanvas.json canvas file. */

.ai-join {
	.ai-join-keys-decoration-outline {
		stroke: transparent;
		fill: transparent;
		cursor: pointer;
	}

	.ai-join-keys-decoration-text-selected {
		stroke: #FFFFFF;
		fill: #FFFFFF;
		font-size: 10px;
		font-weight: 100;
		cursor: pointer;
		pointer-events: none;
	}

	.ai-join-keys-decoration-text-unselected {
		stroke: #000000;
		fill: #000000;
		font-size: 10px;
		font-weight: 100;
		cursor: pointer;
		pointer-events: none;
	}

	.ai-col-label {
		fill: #A5A5A7;
		stroke: #A5A5A7;
		font-size: 11px;
		font-weight: 100;
	}

	/* Makes the port decorations (blue with the white cross) be hidden by default */
	.ai-node-port {
		display: none;
	}

	/* Makes the port decorations (blue with the white cross) images appear on hover */
	path[hover="yes"] ~ .ai-node-port {
		display: inline;
	}
}


/* This styles are used in the decoratorCanvas.json canvas file. */

.leftDecoration {
	fill: transparent;
	stroke: #000000;
}

.rightDecoration {
	fill: transparent;
	stroke: #000000;
}

.rightDecoration:hover {
	fill: #000000;
	stroke: #000000;
}

.zoom-in-decoration {
	fill: #FFFF00;
}

.zoom-in-decoration:hover {
	stroke: #000000;
}

/*  Override styles for comments in linkColorCanvas.json */

.custom-canvas-comment {
	cursor: "move";
	fill: #FFFF99;
	stroke: transparent;
}

.custom-comment-box {
	fill: #2BE2CA;
}


/*  Override styles for comments in commentColorCanvas.json */

.canvas-comment-1 {
	fill: #B98BA6;
	stroke: #000000;
}

.canvas-comment-2 {
	fill: #A6C8E4;
	stroke: #000000;
}

.canvas-comment-3 {
	fill: #A6C8E4;
	stroke: #000000;
}

/* These styles are used in the portsColorCanvas.json canvas file. */

.port-output-red {
	stroke: #FF1493;
	fill: #FFFFFF;
	stroke-width: 2;
}

.port-output-red[connected="yes"] {
	stroke: #FF00FF;
	fill: #FF00FF;
	stroke-width: 2;
}

.port-output-red:hover {
	fill: #FF0000;
}

.port-output-yellow {
	stroke: #DAA520;
	fill: #FFFFFF;
	stroke-width: 2;
}

.port-output-yellow[connected="yes"] {
	stroke: #FFD700;
	fill: #FFD700;
	stroke-width: 2;
}

.port-output-yellow:hover {
	fill: #DAA520;
}

.port-output-green {
	stroke: #008000;
	fill: #FFFFFF;
	stroke-width: 2;
}

.port-output-green[connected="yes"] {
	stroke: #008080;
	fill: #008080;
	stroke-width: 2;
}

.port-output-green:hover {
	fill: #008000;
}

.port-output-blue {
	stroke: #0000FF;
	fill: #FFFFFF;
	stroke-width: 2;
}

.port-output-blue[connected="yes"] {
	stroke: #0000FF;
	fill: #0000FF;
	stroke-width: 2;
}

.port-output-blue:hover {
	fill: #6A5ACD;

}

/* This style is used in the customAttrs.json canvas file. */

.node-image[data-attr1] {
	opacity: 0.25;
}

/* These styles are used to override common-canvas styles with custom colors for customColorCanvas.json */

.d3-data-link.error {
	stroke: #FF4500;
}

.d3-data-link.warning {
	stroke: #FFFF00;
}

.d3-data-link.okay {
	stroke: #008000;
}

.d3-object-link.blue {
	stroke: #0000FF;
}

.main-comment-box {
	fill: #2BE2CA;
}
