/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/
#properties-documentation-container {
	position: relative;
}

#properties-documentation-main-content {
	position: relative;
}

#properties-documentation-container > .right-flyout-panel,
#conditions-documentation-container > .right-flyout-panel {
	top: 0;
	padding-top: 50px;
	box-shadow: none;
	border-left: 1px solid #CCCCCC;
	position: fixed;
}

#properties-documentation-container > .right-flyout-panel >
#common-properties-right-flyout-panel > .modal__buttons,
#conditions-documentation-container > .right-flyout-panel >
#common-properties-right-flyout-panel > .modal__buttons {
	display: none;
}

#properties-documentation-container-main-content,
#conditions-documentation-container-main-content {
	-webkit-transition: 0.2s ease-out;
	transition: 0.2s ease-out;
	position: fixed;
	top: 50px;
	height: calc(100% - 50px);
	overflow-x: scroll;
}

#conditions-documentation-container,
#conditions-documentation-content {
	width: 100%;
}

/* Properties Navbar */
.properties-documentation-navbar-items {
	position: fixed;
	width: 100%;
	height: 50px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #F0F3F6;
	z-index: 4;
}

#properties-documentation-title,
#conditions-documentation-title {
	background-color: #F0F3F6;
	color: #152935;
	padding: 14px;
	width: auto;
	text-decoration: none;
	font-size: 14px;
	height: 50px;
}

#properties-documentation-menu,
#conditions-documentation-menu {
	width: 200px;
	height: 45px;
	position: fixed;
	right: 0;
	z-index: 5;
	margin-top: 5px;
	margin-right: 10px;
	padding-left: 10px;
	background: #F0F3F6;
}

.properties-documentation-navbar-li {
	float: left;
	height: 50px;
	background-color: #5596E6;
}

.properties-documentation-navbar-li::after {
	clear: both;
}

.properties-documentation-navbar-li a,
.properties-documentation-navbar-fill a {
	display: block;
	text-align: center;
	padding: 14px 12px;
	color: #152935;
	fill: #3FB8AF;
	box-sizing: content-box;
	font-size: 16px;
	background-color: #F0F3F6;
	height: 22px;
}

.properties-documentation-navbar-li a:hover {
	color: #5596E6;
	height: 18px;
}

/* Header section */
.properties-documentation-section-header {
	background: #F5F7FA;
	padding: 4.5em 4em 2em;
	position: relative;
	color: #152935;
}

.properties-documentation-page-link {
	text-align: center;
	display: block;
	margin: 1.5em 0 0;
	color: #152935;
	font-size: 1em;
	vertical-align: middle;
	text-decoration: none;
}

.properties-documentation-page-link:hover {
	color: #152935;
	text-decoration: underline;
}

.properties-documentation-page-intro-link:hover {
	text-decoration: underline;
}

/* Properties Content */
#properties-documentation-content,
#conditions-documentation-content {
	padding: 1em;
}

.conditions-documentation-panels-controls-component,
.properties-documentation-panels-controls-component {
	position: relative;
	padding-bottom: 5px;
}

.properties-documentation-panels-controls-component .well,
.conditions-documentation-panels-controls-component .well {
	margin-bottom: 5px;
}

.section-subtitle {
	margin-top: 15px;
}

.properties-documentation-section-title {
	border-bottom: 1px solid;
	margin-bottom: 0.5em;
}

.section-description-link {
	margin-right: 5px;
}

.section-description-link:hover {
	text-decoration: underline;
}

.section-row {
	width: 100%;
	display: inline-flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.section-row-title {
	font-size: 1.282rem;
}

.section-column {
	width: 50%;
	flex-grow: 1;
	flex-shrink: 0;
	padding-right: 1em;
}

.section-column > div {
	width: unset;
}

.section-column-code {
	padding-right: 0;
}

.json-block {
	font-size: 0.875em;
	max-height: 565px;
}

#expression-section-column-code > .json-block {
	max-height: 616px;
}

#summary-section-column-code > .json-block {
	max-height: 849px;
}

.highlight {
	background-color: #F5F5F5;
	font-weight: 400;
	border-radius: 4px;
}

.conditions-documentation-control-table-container {
	width: 100%;
	overflow-x: scroll;
}

.conditions-documentation-control-table tr.reactable-column-header {
	display: table-row;
}

.conditions-documentation-control-table tr.reactable-column-header > th {
	display: table-cell;
}

.properties-documentation-list-indent {
	margin-left: 10px;
}

/* min width less than then set width to 100% and flow to next line */

/* Override common-properties */
#removeFieldTip, #addFieldTip {
	position: absolute;
}

#conditions-documentation-control-table > thead > tr > th:focus {
	outline: none;
}
