/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2017, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.tooltip-container, .tooltip-trigger {
	height: 100%;
}

.common-canvas-tooltip {
	font-size: 12px;
	position: fixed;
	padding: 5px 10px;
	background-color: $inverse-02;
	border: 1px solid $inverse-02;
	font-weight: 400;
	opacity: 90%;
	color: $inverse-01;
	line-height: 1.2;
	text-align: center;
	z-index: 8000;
	pointer-events: none;
	word-wrap: break-word;
	max-width: 180px;
	border-radius: 2px;
	transition: opacity 0.1s ease-in-out, visibility 0.1s ease-in-out, transform 0.1s cubic-bezier(0.71, 1.7, 0.77, 1.24);
}

.common-canvas-tooltip[direction="right"] {
	transform: translate3d(-22px, 0, 0);
}

.common-canvas-tooltip[direction="top"] {
	transform: translate3d(0, 22px, 0);
}

.common-canvas-tooltip[direction="left"] {
	transform: translate3d(22px, 0, 0);
}

.common-canvas-tooltip[direction="bottom"] {
	transform: translate3d(0, -22px, 0);
}

.common-canvas-tooltip #tipArrow {
	position: absolute;
	width: 10px;
	height: 14px;
}

.common-canvas-tooltip[direction="top"] #tipArrow {
	transform: rotate(-90deg);
}

.common-canvas-tooltip[direction="left"] #tipArrow {
	transform: rotate(180deg);
}

.common-canvas-tooltip[direction="bottom"] #tipArrow {
	transform: rotate(90deg);
}


.common-canvas-tooltip #tipArrow polyline {
	fill: $inverse-02;
	stroke-width: 0;
}

.common-canvas-tooltip #tipArrow polygon {
	fill: $inverse-02;
}

.common-canvas-tooltip[aria-hidden="false"] {
	transform: scaleX(1) translate3d(0, 0, 0) rotate(0deg);
	visibility: visible;
	opacity: 100;
}

.common-canvas-tooltip[aria-hidden="true"] {
	visibility: hidden;
	opacity: 0;
}

.tip-palette-item, .tip-node {
	min-width: 80px;
	max-width: 180px;
	text-align: left;
}

.tip-palette-category {
	font-size: 10px;
	padding-bottom: 4px;
	color: $inverse-01;
}

.tip-palette-label, .tip-node-label {
	font-weight: 600;
	color: $inverse-01;
}

.tip-palette-desc, .tip-node-desc {
	padding-top: 4px;
}

.tip-node-status {
	position: absolute;
	width: 12px;
	height: 12px;
	right: 10px;
	top: 10px;
	&.warning {
		fill: $support-03;
	}
	&.error {
		fill: $support-01;
	}
}

.tip-port {
	min-width: 90px;
}

.properties-tooltips {
	background-color: $inverse-02;
	color: $inverse-01;
	max-width: 250px;
}

.properties-tooltips #tipArrow polyline {
	fill: $inverse-02;
}
