/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2019. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-ft-search-container {
	width: 50%;
	float: left;
	margin-bottom: 6px;
	.properties-ft-search-text {
		float: left;
	}
	&.disabled {
		opacity: 0.5;
	}
}

.properties-ft-container-wrapper {
	height: 200px;
	width: 100%;
	position: relative;
	overflow: hidden;
}

// selectcolumns and tables without headers
.properties-ft-container-absolute-noheader {
	position: absolute;
	height: 100%;
	width: 100%;
	overflow-y: auto;
	overflow-x: hidden;
	border: 1px solid $ui-03;
	background-color: $ui-01;
	display: flex; // address scrollbar with mouse issue
	flex-direction: column; // address scrollbar with mouse issue
	&.error {
		border: 1px solid $support-01;
	}
	&.warning {
		border: 1px solid $support-03;
	}
	.row-checkbox {
		padding-left: 12px;
	}
}

.properties-ft-container-absolute {
	height: 100%;
	width: 100%;
	border: 1px solid $ui-03;
	background-color: $ui-01;
	&.error {
		border: 1px solid $support-01;
	}
	&.warning {
		border: 1px solid $support-03;
	}
	.properties-ft-container {
		height: 100%;
	}

	div[role="properties-header-row"] {
		width: inherit;
		background-color: $ui-02;
		display: inline-flex;
		height: 2.5em;

		&:hover {
			border: 1px solid transparent;
		}

		.properties-autosized-vt-header {
			&:focus {
				outline: none;
			}
			// sort icon in header
			svg {
				padding-left: 3px;
				width: 11px;
				height: 11px;
			}
			// sort icon viewable when hover or sorted column
			.properties-ft-column-sort-icon
			svg:not(:root) {
				stroke: none;
			}
			&:hover:not([disabled])
			.properties-ft-column-sort-icon
			svg:not(:root) {
				stroke: $brand-02;
			}
			.sort-column-active
			.properties-ft-column-sort-icon
			svg:not(:root) {
				stroke: $brand-02;
			}
		}

		.properties-tooltips-container {
			display: inline-flex;
			width: 100%;
		}
		.tooltip-container {
			overflow: hidden;
		}
		.tooltip-trigger {
			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;
			height: 100%;
			font-weight: 600;
		}
	}
}
