/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-column-panel {
	display: grid;
	&.hide {
		display: none;
	}
	&[disabled] {
		opacity: 0.5;
		pointer-events: none;
	}
}
