/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.canvas-icon .stroke, .canvas-icon.stroke {
	stroke: $icon-01;
}

.canvas-icon .fill, .canvas-icon.fill {
	fill: $icon-01;
}

.canvas-icon[disabled] {
	fill: $disabled-02;
}

.canvas-icon.notificationCounterIcon {
	&.error > .dot {
		fill: $support-01;
	}
	&.warning > .dot {
		fill: $support-03;
	}
	&.success > .dot {
		fill: $support-02;
	}
	&.info > .dot {
		fill: $support-04;
	}
}

svg.properties-icon, svg.canvas-icon {
	fill: $icon-01;
}

svg.canvas-state-icon-error {
	fill: $support-01;
}

svg.canvas-state-icon-success {
	fill: $support-02;
}

svg.canvas-state-icon-warning {
	fill: $support-03;
	[data-icon-path="inner-path"] { // exclamation mark
		fill: $ui-05;
		opacity: 1;
	}
}

svg.canvas-state-icon-info {
	fill: $support-04;
}

svg.canvas-state-icon-information-hollow {
	fill: $interactive-01;
}
