#
# Copyright 2017-2023 Elyra Authors
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
# http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#
site_name: Elyra Canvas
repo_url: https://github.com/elyra-ai/canvas
docs_dir: pages

theme:
    name: material
    highlightjs: true
    logo: assets/FlowIcon.png
    favicon: assets/FlowIcon.png
    palette:
        scheme: default
    features:
      - content.code.copy
      - content.action.edit
      - navigation.tabs
      - navigation.indexes

plugins:
    - search

extra_css:
  - css/styles.css

extra_javascript:
  - js/links-in-new-tabs.js

edit_uri: edit/main/docs/

# Documentation and theme
copyright: 'Copyright  &copy; 2024 Elyra Authors, an open source project and all are welcome to contribute! Maintained by the Elyra Authors Team'

nav:
  - Home:
    - index.md

  - Components:
    - Components Overview: 01-canvas-components.md
    - Flow Editor:
      - Editor Overview: 01.01-flow-editor.md
      - Nodes: 01.01.01-nodes.md
      - Links: 01.01.02-links.md
      - Comments: 01.01.03-comments.md
      - Decorations: 01.01.04-decorations.md
      - Background: 01.01.05-background.md
    - Palette: 01.02-palette.md
    - Context Menu: 01.03-context-menu.md
    - Context Toolbar: 01.04-context-toolbar.md

  - Initial Setup:
    - 02-set-up.md

  - Common Canvas:
    - Getting Started: 03-common-canvas.md
    - Config Objects:
      - Configuration Overview: 03.02-configuration.md
      - Canvas Config: 03.02.01-canvas-config.md
      - Toolbar Config: 03.02.02-toolbar-config.md
      - Notification Config: 03.02.03-notification-config.md
      - Context Menu Config: 03.02.04-context-menu-config.md
      - Keyboard Config: 03.02.05-keyboard-config.md
    - Callbacks:
      - Callbacks Overview: 03.03-callbacks.md
      - Context Menu Handler: 03.03.01-context-menu-handler.md
      - Before Edit Action Handler: 03.03.02-before-edit-action-handler.md
      - Edit Action Handler: 03.03.03-edit-action-handler.md
      - Layout Handler: 03.03.04-layout-handler.md
      - Decoration Action Handler: 03.03.05-decoration-action-handler.md
      - Tip Handler: 03.03.06-tip-handler.md
      - ID Generator Handler: 03.03.07-id-generator-handler.md
      - Selection Change Handler: 03.03.08-selection-change-handler.md
      - Click Action Handler: 03.03.09-click-action-handler.md
      - Action Label Handler: 03.03.10-action-label-handler.md
    - Canvas Controller:
      - API: 03.04-canvas-controller.md
      - Decorations: 03.04.01-decorations.md
      - Object Structure: 03.04.02-api-object-structure.md
      - Creating New Canvas Nodes: 03.04.03-creating-new-canvas-nodes.md
      - Notification Messages: 03.04.05-notification-messages.md
      - Styling Canvas Objects: 03.04.06-styling-objects.md
    - Keyboard Support: 03.05-keyboard-support.md
    - Node Layout: 03.06-node-layout.md
    - Node Creation from External Object: 03.07-external-objects.md
    - External Pipeline Flows: 03.08-external-pipeline-flows.md
    - Read Only or Locked Flows: 03.09-read-only-or-locked-flows.md
    - Commmand Stack: 03.10-command-stack.md
    - Internal Actions: 03.11-internal-actions.md
    - Deprecated:
      - Context Menu Wrapper: 03.30.01-context-menu-wrapper.md
      - Flow Validation: 03.30.02-flow-validation.md

  - Common Properties:
    - Getting started: 04-common-properties.md
    - Parameter Definition: 04.01-parameter-definition.md
    - Callbacks: 04.02-callbacks.md
    - UI Hints: 04.03-ui-hints.md
    - Controls: 04.04-controls.md
    - Conditions: 04.05-conditions.md
    - Custom Components: 04.06-custom-components.md
    - Properties Controller: 04.07-properties-controller.md

  - Troubleshooting:
    - 05-troubleshooting.md

  - Contributing:
    - 06-contributing.md
    - 06.01-style-guidelines.md
    - 06.02-testing-guidelines.md

markdown_extensions:
  - admonition:
  - codehilite:
  - extra:
  - pymdownx.magiclink:
  - pymdownx.inlinehilite:
  - pymdownx.highlight:
  - pymdownx.superfences:
      custom_fences:
        - name: mermaid
          class: mermaid
          format: !!python/name:pymdownx.superfences.fence_code_format
  - sane_lists:
  - smarty:
  - toc:
      permalink: True
