/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018, 2020. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.properties-readonly {
	width: inherit;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	&.hide {
		display: none;
	}
	.properties-tooltips {
		white-space: normal;
		overflow: visible;
		word-break: break-word;
		text-overflow: clip;
	}
	span {
		white-space: normal;
		line-height: 1.5;
		overflow-wrap: break-word;
		&[disabled] {
			opacity: 0.5;
		}
	}
	.properties-field-readonly {
		height: 100%;
		width: inherit;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		display: flex;
		align-items: center;
		.properties-field-type-icon {
			width: 15px;
			height: 15px;
			float: left;
			margin-right: 5px;
			flex-shrink: 0; // prevent icon from shrinking if text too long

			svg {
				width: 16px;
				height: 16px;
			}
		}
	}
	.tooltip-trigger {
		width: inherit;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
		span {
			white-space: nowrap;
			&[disabled] {
				opacity: 0.5;
			}
		}
	}
}
