/*******************************************************************************
 * Licensed Materials - Property of IBM
 * (c) Copyright IBM Corporation 2018. All Rights Reserved.
 *
 * Note to U.S. Government Users Restricted Rights:
 * Use, duplication or disclosure restricted by GSA ADP Schedule
 * Contract with IBM Corp.
 *******************************************************************************/

.readonly-control-text {
	width: 100%;
	padding-bottom: 2px;
	height: 21px;
	border-bottom: 2px solid #FFFFFF;
}

.table-selected-row .readonly-control-text {
	border-color: #DFE3E6;
}

.table-row .readonly-control {
	padding-top: 8px;
}
